<div data-v-82171fd8="" class="comment-reply">
    <div data-v-6d0c891e="" data-v-82171fd8="" data-spm="comment-reply" class="comment-reply" isshowbar="true">
        <div data-v-6d0c891e="" class="comment-reply__box comment-reply__bar topbox">
            <div data-v-6d0c891e="" class="reply-box__content">
<!--                <a data-v-6d0c891e="" href="https://m.sohu.com/ucenter?spm=smwp.content.comment-reply.1.1540910214224AnRidRs" data-spm-acode="3561" data-spm-data="1">
                    <img data-v-6d0c891e="" src="//photo.pic.sohu.com/images/oldblog/person/11111.gif" alt="头像" class="user-img">
                </a> -->
                <div data-v-6d0c891e="" class="reply-input__box">
<!--                    <div data-v-6d0c891e="" data-spm-acode="3558" class="fake-input" data-spm-data="2"></div> 
                    <textarea data-v-6d0c891e="" id="replyInput" rows="1" placeholder="我来说两句" maxlength="2000" class="reply-input"></textarea>-->
                </div> 
                <div data-v-6d0c891e="" class="reply-opare">
                    <a data-v-6d0c891e="" href="javascript:;" data-spm-content-value="https://m.sohu.com/cm/272231405_260616?spm=smwp.content.comment-reply.3.1540910214224AnRidRs" class="reply-opare__a reply-opare__comment" data-spm-data="3">
                        <i data-v-6d0c891e="" class="mptcfe-wap-comment-icon i-comment"></i> 
                        <!--<span data-v-6d0c891e="" class="count-tip">568</span>-->
                    </a>
                    <a data-v-6d0c891e="" href="javascript:;" data-spm-acode="3031" class="reply-opare__a reply-opare__share" data-spm-data="4">
                        <i data-v-6d0c891e="" class="mptcfe-wap-comment-icon i-share"></i>
                    </a>
                    <a data-v-6d0c891e="" href="javascript:;" data-spm-acode="3031" class="reply-opare__a reply-opare__share" data-spm-data="4">
                        <i data-v-6d0c891e="" class="mptcfe-wap-comment-icon i-share"></i>
                    </a>
                </div>
            </div> 
            <div data-v-6d0c891e="" class="reply-box__footer" style="display: none;">
                <div data-v-6d0c891e="" class="btn comment-cancel">取消</div> 
                <div data-v-6d0c891e="" class="btn comment-submit">回复</div>
            </div>
        </div> 
        <div data-v-6d0c891e="" class="comment-dialog" style="display: none;">
            <span data-v-6d0c891e="">
                <i data-v-6d0c891e="" class="comment-dialog__icon warn-icon"></i>
            </span>
        </div> 
        <div data-v-6d0c891e="" class="comment-reply__layer" style="display: none;"></div>
    </div>
</div>