<div class="_1aeG9GaC">
    <form>
        <div class="ttfe-flex _1cQr6WDc">
            <div class="ttfe-flex-item">
                <div class="ttfe-flex ttfe-flex-align-center tt-line1 tt-word1 tt-size14 tt-plane4 ttfe-input" style="width:auto;border-color:#b9b9b9">
                    <div class="ttfe-input-wrap">
                        <input value="css3" class="tt-word1 tt-size14 tt-plane4 ttfe-input-input" placeholder="">
                        <div class="ttfe-input-close"></div>
                    </div>
                </div>
            </div>
            <div class="ttfe-flex-item ttfe-flex-item-fixed">
                <span class="K08QUz2c">搜索</span>
            </div>
        </div>
    </form>
</div>