 <div id="kOSMVQDwvHFsuvQJVCE" class="ownuxoCSwbckidBIe "> 
            <div class="rqsGJHTTYOBOqyHUudblc zulADmXAyIZYuDm vtQsAzHZvjhgqdkYKDVHd" style="display: block !important;"> 
                <a href="javascript:void(0)" class="close"></a> 
                <a href="//d.toutiao.com/N13p/" target="_self" class="download" rel="nofollow">  
                    <div class="logo"></div> 
                    <div class="banner-label">
                        <p class="tb" data-node="appName">今日头条</p> 
                        <p class="title-sub"></p> 
                    </div> 
                    <div class="open">立即打开</div> 
                </a> 
            </div> 
        </div>