<div class="company">
    <p class="J-company-name">
        © 2018 今日头条
    </p>
    <a href="http://www.12377.cn/" target="_blank" ga_event="click_about">
        中国互联网举报中心
    </a>
    <a href="http://www.miibeian.gov.cn/" target="_blank" ga_event="click_about">
        京ICP证140141号
    </a>
    <div>
        <a href="http://www.miibeian.gov.cn/" target="_blank" ga_event="click_about">
            京ICP备12025439号-3
        </a>
        <a href="/license/" target="_blank" class="icp">
            网络文化经营许可证
        </a>
    </div>
    <p>
        京-非经营性-2016-0081
    </p>
    <p>
        互联网药品信息服务资格证书
    </p>
    <a href="/a3642705768/" target="_blank">
        跟帖评论自律管理承诺书
    </a>
    <span>
        违法和不良信息举报：010-58341833
    </span>
    <span>
        公司名称：北京字节跳动科技有限公司
    </span>
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002002023"
       target="_blank" ga_event="click_about">
        <img src="//s3.pstatp.com/toutiao/static/img/gongan.d0289dc.png">
        &nbsp;京公网安备 11000002002023号
    </a>
</div>