{{*
<div class="publisher" style="display: none;">
    <div class="publisher-inner">
        <div class="header">
            <div class="title">
                转发
            </div>
            <span class="close">
                <img src="/static/images/close.png">
            </span>
        </div>
        <div class="publisher-content">
            <div class="original-content">
                <img src="http://p9.pstatp.com/list/300x196/pgc-image/RBy7xxUJ1nKzLF.jpg"
                     class="cover-img">
                <div class="text">
                    <a href="https://www.toutiao.com/c/user/104246645773/" target="_blank"
                       class="user-name">
                        @人民日报
                    </a>
                    ：
                    <div class="html">
                        一夜也不能少…… 机械化驻村考勤绑住扶贫干部
                    </div>
                </div>
            </div>
            <div class="publish-content">
                <textarea placeholder="请输入内容" class="input">
                </textarea>
                <p class="words-number">
                    0/2000字
                </p>
                <span class="show-emoji">
                    <img src="http://p3.pstatp.com/origin/b76b00091cadfe239a6a" class="icon">
                </span>
            </div>
            <div class="footer">
                <div class="y-right">
                    <a href="#" class="publish">
                        转发
                    </a>
                </div>
            </div>
            <div class="uploader-popup emoji-panel" style="display: none;">
                <i class="bui-icon close-popup icon-close_small">
                </i>
                <div class="emoji-box">
                    <div class="emoji-list">
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_1_smile@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_2_kiss@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_3_daze@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_4_smoke@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_5_pick_nose@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_6_cry@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_7_anger@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_8_laugh@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_9_sleep@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_10_shy@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_11_naughty@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_12_dizzy@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_13_stunned@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_14_shut_up@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_15_wit@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_16_attention@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_17_hand_sample@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_18_ye@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_19_distress_situation@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_20_play_face@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_21_smile@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_22_yawn@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_23_surprise@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_24_take_heart@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_25_sleepy@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_26_what@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_27_sobbing@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_28_handclap@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_29_cool@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_29_cool@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_30_titter@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_31_lightning_strike@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_32_meditation@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_33_vomiting_blood@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_34_acting_cute@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_35_quietly@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_36_hum@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_37_khan@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_38_forced_smile@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_39_haze@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_40_smirk@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_41_cool@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_42_bad_smile@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_43_crazy@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_44_tears@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_45_money@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_46_kiss@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_47_fear@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_48_smile@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_49_injustice@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_50_their@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_51_focus@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_52_like@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_53_handclap@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_54_3Q@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_54_3Q@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_55_kiss@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_56_household_cleanser@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_57_666@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_58_rose@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_59_cucumber@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_60_beer@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_61_distress_situation@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_62_injustice@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_63_lick_screen@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_64_despise@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_65_kiss@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_66_bye@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_67_erkang@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_68_hug@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_69_hitler@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_70_zhoudongyu_gaze@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_71_masichun_smile@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_72_dogo@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_73_cat@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_74_2ha@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_75_dogo@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_76_bear@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_77_skeleton@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_78_black_face@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_79_eat_melon@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_80_green_hat@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_81_sweat@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_82_lear_ropes@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_83_frown@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_84_wipe_sweat@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_85_redface@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_86_orz@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_87_makeface@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_88_intensity@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_89_ruhua@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_90_spit@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_91_surprise@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_92_knock@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_93_refuel@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_94_rainbow@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_95_bigcry@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_96_fingerheart@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_97_refuel@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_98_fist@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_99_OK@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_100_highfive@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_101_left@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_102_shakehand@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_103_18@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_104_knife@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_105_V5@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_106_awesome@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_107_heart@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_108_broken_heart@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_109_shit@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_110_gifts@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_111_cake@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_112_flower@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_113_lookat@3x.png&quot;);">
                        </i>
                        <i class="emoji" style="background-image: url(&quot;/static/images/emoji/emoji_114_bomb@3x.png&quot;);">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*}}