<div class="detail-feed">
    <div class="title">
        相关推荐
    </div>
    <div class="feed-infinite-wrapper">
        <div class="loading ball-pulse" style="display: none;">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <span>
                推荐中⋅⋅⋅
            </span>
        </div>
        <div>
            <div class="msg-alert msg-alert-hidden">
                <!---->
                <!---->
            </div>
            <div class="msgAlert-place" style="display: none;">
                <div ga_event="refresh_float_click" class="msg-alert">
                    <span>
                        您有未读新闻，点击查看
                    </span>
                    <i class="bui-icon icon-close_small" style="font-size: 15px; color: rgb(255, 255, 255);">
                    </i>
                </div>
            </div>
        </div>

        <ul infinite-scroll-disabled="loading" infinite-scroll-immediate-check="containerCheck"
            infinite-scroll-immediate-check-count="containerCheckCount" infinite-scroll-distance="80">
            <li class="">
                <div ga_event="article_item_click" class="bui-box single-mode">
                    <div ga_event="article_img_click" class="bui-left single-mode-lbox">
                        <a href="https://www.toutiao.com/group/6631135055685124616/" target="_blank"
                           class="img-wrap">
                            <img class="lazy-load-img" src="//p99.pstatp.com/large/dfic-imagehandler/956efb87-cf67-4b83-919d-6b44bfb2f31b"
                                 lazy="loaded">
                            <!---->
                        </a>
                    </div>
                    <div class="single-mode-rbox">
                        <div class="single-mode-rbox-inner">
                            <div ga_event="article_title_click" class="title-box">
                                <a href="https://www.toutiao.com/group/6631135055685124616/" target="_blank"
                                   class="link">
                                    一位工作24年的乡镇干部的工作心得分享！
                                </a>
                            </div>
                            <div class="bui-box footer-bar">
                                <div class="bui-left footer-bar-left">
                                    <!---->
                                    <a href="/c/user/70727924237/" target="_blank" ga_event="article_avatar_click"
                                       class="footer-bar-action media-avatar">
                                        <img src="//p1.pstatp.com/large/dc0c0004f2e3204f1bad" lazy="loaded">
                                    </a>
                                    <a href="/c/user/70727924237/" target="_blank" ga_event="article_name_click"
                                       class="footer-bar-action source">
                                        &nbsp;黔秀新热点&nbsp;⋅
                                    </a>
                                    <a href="https://www.toutiao.com/group/6631135055685124616//#comment_area"
                                       target="_blank" ga_event="article_comment_click" class="footer-bar-action source">
                                        &nbsp;172评论&nbsp;⋅
                                    </a>
                                    <span class="footer-bar-action">
                                        &nbsp;
                                    </span>
                                    <span class="footer-bar-action recommend">
                                        相关
                                    </span>
                                    <!---->
                                    <!---->
                                </div>
                                <div class="bui-right">
                                    <div ga_event="dislike_click" class="action-dislike" dislikeurl="/api/dislike/">
                                        <i class="bui-icon icon-close_small" style="font-size: 16px; color: rgb(221, 221, 221);">
                                        </i>
                                        不感兴趣
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="loading ball-pulse" style="display: none;">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <span>
                加载中⋅⋅⋅
            </span>
        </div>
    </div>

</div>