<div class="detail-comment">
    <a id="comment_area" href="#">
    </a>
    <div id="comment">
        <div class="c-header">
            <em>
                220&nbsp;
            </em>
            条评论
        </div>
        <div data-v-7f58aa2c="" class="inputBox">
            <div data-v-7f58aa2c="" class="bui-box">
                <div data-v-7f58aa2c="" class="avatar-wrap avatar-wrap-center">
                    <!---->
                </div>
                <div data-v-7f58aa2c="" class="input-wrap">
                    <div data-v-7f58aa2c="" ga_event="click_input_comment" class="c-textarea">
                        <textarea data-v-7f58aa2c="" placeholder="写下您的评论...">
                        </textarea>
                    </div>
                    <div data-v-7f58aa2c="" ga_event="click_publish_comment" class="c-action">
                        <div data-v-7f58aa2c="" class="c-submit">
                            评论
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li class="c-item">
                <a href="/c/user/84075898112/" target="_blank" class="avatar-wrap">
                    <img src="https://p1.pstatp.com/thumb/658a002118c9a99a755d" alt="">
                </a>
                <div class="c-content">
                    <div class="c-user-info">
                        <a href="/c/user/84075898112/" target="_blank" class="c-user-name">
                            福旺人
                        </a>
                        <span class="c-create-time">
                            5小时前
                        </span>
                    </div>
                    <p>
                        大实话！
                    </p>
                    <div class="c-footer-action">
                        <span ga_event="click_reply_comment" class="c-reply">
                            回复
                        </span>
                        <!---->
                        <!---->
                        <span title="举报" class="bui-right c-report">
                            <i class="bui-icon icon-report" style="font-size: 14px; color: rgb(202, 202, 202);">
                            </i>
                        </span>
                        <span title="点赞" ga_event="click_good_comment" class="bui-right c-digg">
                            156&nbsp;
                            <i class="bui-icon icon-thumbsup_line">
                            </i>
                        </span>
                    </div>
                    <div class="J_input_0">
                    </div>
                    <!---->
                </div>
            </li>

        </ul>
        <a ga_event="click_loadmore_comment" class="c-load-more">
            查看更多评论
        </a>
        <!---->
        <!---->
        <div data-v-e2575b7c="">
            <div data-v-e2575b7c="" class="tt-dialog__wrapper" style="display: none;">
                <div class="tt-dialog tt-dialog--small" style="top: 15%;">
                    <div class="tt-dialog__header">
                        <span class="tt-dialog__title">
                            举报此人
                        </span>
                        <div class="tt-dialog__headerbtn">
                            <i class="tt-dialog__close bui-icon icon-close_big">
                            </i>
                        </div>
                    </div>
                    <!---->
                    <div class="tt-dialog__footer">
                        <span data-v-e2575b7c="" class="dialog-footer">
                            <button data-v-e2575b7c="" type="button" class="tt-button tt-button--primary">
                                <!---->
                                <!---->
                                <span>
                                    确认
                                </span>
                            </button>
                            <button data-v-e2575b7c="" type="button" class="tt-button tt-button--default">
                                <!---->
                                <!---->
                                <span>
                                    取消
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>