<ul data-v-756beef7="" class="toolbar">
    <!---->
    <li data-v-756beef7="" class="tool-item report-item">
        <a data-v-756beef7="" href="http://report.12377.cn:13225/toreportinputNormal_anis.do"
           target="_blank">
            <img data-v-756beef7="" src="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/other/report_logo_15cc24e.png">
            <span data-v-756beef7="">
                网上有害信息举报
            </span>
        </a>
    </li>
    <li data-v-756beef7="" class="tool-item">
        <a data-v-756beef7="" href="javascript:void(0);">
            <i data-v-756beef7="" class="bui-icon icon-refresh" style="font-size: 16px; color: rgb(255, 255, 255);">
            </i>
        </a>
    </li>
    <li data-v-756beef7="" class="tool-item">
        <a data-v-756beef7="" href="javascript:void(0);">
            <i data-v-756beef7="" class="bui-icon icon-arrow_up_big" style="font-size: 16px; color: rgb(255, 255, 255);">
            </i>
        </a>
    </li>
</ul>