{{*
<div class="news-struct bui-box">
    <div id="hotNewsWrap" class="bui-box">
        <div class="pane-module">
            <div class="module-head">
                24小时热闻
            </div>
            <ul ga_event="click_hot_news" class="module-content article-list">
                <li class="article-item">
                    <a href="/group/6628742066178359815/" target="_blank" class="news-link">
                        <div class="module-pic news-pic">
                            <img src="//p1.pstatp.com/list/240x240/pgc-image/R8UGslhAEVPPNr" lazy="loaded">
                        </div>
                        <div class="news-inner">
                            <p class="module-title">
                                国共两党领导人会晤是否提上日程？国台办回应
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="imagindexhover" name="home_right*bottom_1" class="imagindexhover right-img"
             style="display: none;" ad-cursor="1" ad_name="h_300*250_TB_340" done="1"
             show="">

        </div>
    </div>
</div>
*}}