{{*
<div class="pane-module hot-words-pane">
    <!---->
    <div class="hot-words-title">
        <img src="//s3.pstatp.com/toutiao/static/img/icon_tt_hot_search.4ccd360.png"
             alt="">
        <div class="more-hot-words">
            <a target="_blank" href="https://www.toutiao.com/2/wap/search/extra/hot_word_list/?from=toutiao_pc&amp;is_new_ui=1">
                更多
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAAAXNSR0IArs4c6QAAAVBJREFUSA3N1T1rg0AYB3A1FWkn6Vpa0EEHv0Rp5y4Fty75gl0K3RoCnaWTg4tCuncV61uf/+EVL55J7lzygNxL7vlx8R7VMM424jhe4dLdoInEIAj8tm236Pd9v87z/AN9lbCwuOu6BwJucdHwzff9RxUEaxnkOM4r9XdD8iW1yhiD0jT9sW37fgnG7tGwEyMMQ6+u6y2N74a5ktqnU+6ZACFZF5tAupgU0sFmIVXsIKSCseNHwlxkWVbsl4Zpmu+e572Mc47uiC/GaTZN80nVf4M5whrXda+SJKkxProjLOJBCO9O2pOgUW2x3ZDyS8/nmu8G6sWE3psYIUK1F0UhvCEO3qM5RPbIzEIqCP6EFFJFpJAOMoF0EQFagvxDURRdl2X5RRPCEctOB0myYAVZVdUz/aiNAGYFaVnWhsr/GxPUan2OkMti6QeSO+fT/gGK1tWL9Et9kQAAAABJRU5ErkJggg=="
                     alt="" class="icon_more">
            </a>
        </div>
    </div>
    <ul class="module-content hot-search">
        <li>
            <a href="https://m.toutiao.com/search/?keyword=女副区长被家暴致死&amp;from=gs_hotlist"
               target="_blank">
                <i class="search-no search-no-1">
                    1
                </i>
                <span class="search-text">
                    女副区长被家暴致死
                </span>
            </a>
            <div class="suffix">
                <!---->
            </div>
        </li>
        <li>
            <a href="https://m.toutiao.com/search/?keyword=100元硬币来了&amp;from=gs_hotlist"
               target="_blank">
                <i class="search-no search-no-2">
                    2
                </i>
                <span class="search-text">
                    100元硬币来了
                </span>
            </a>
            <div class="suffix">
                <img src="//s3.pstatp.com/toutiao/static/img/icon_hot_search_t2.4c778ee.png"
                     alt="">
            </div>
        </li>

    </ul>

</div>
*}}