<div class="bui-left index-channel">
    <div>
        <div class="channel">
            <a href="/" class="logo">
                <img src="/static/images/web_logo.png" alt="{{$site.name}}"
                     style="width: 108px; height: 27px;">
            </a>
            <ul>
                {{foreach $channels as $key=>$val}}
                <li>
                    <a href="{{$val.url}}" target="_self" class="channel-item"><span>{{$val.name}}</span></a>
                </li>
                {{/foreach}}
                {{*
                <li class="channel-more">
                    <a href="javascript:void(0);" class="channel-item">
                        <span>
                            更多
                        </span>
                    </a>
                    <div class="channel-more-layer">
                        <ul class="bui-box">
                            <li class="bui-left">
                                <a href="/ch/news_military/" target="_self"
                                   class="channel-item">
                                    <span>
                                        军事
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                *}}

            </ul>
        </div>
    </div>
</div>