<div class="bui-box slide swiper-container">
    <ul class="slide-list bui-left swiper-wrapper">
        <li class="slide-item slide-item-active swiper-slide">
            <a href="/group/6630962928990306824/" target="_blank">
                <img src="//p3.pstatp.com/origin/daf100051ea174c25569" alt="">
                <p class="title">
                    特朗普携夫人瞻仰老布什灵柩 敬礼后离开未致悼词
                </p>
            </a>
        </li>
        <li class="slide-item slide-item-active swiper-slide">
            <a href="/group/6630965758039949828/" target="_blank">
                <img src="//p9.pstatp.com/origin/da9100043906572871a4" alt="">
                <p class="title">
                    燃到爆！女特警特训表现不输男特警，获全体男队友点赞
                </p>
            </a>
        </li>
        <li class="slide-item slide-item-active swiper-slide">
            <a href="/group/6630920080609772045/" target="_blank">
                <img src="//p99.pstatp.com/origin/dad60005a7d3ff7b65ee" alt="">
                <p class="title">
                    追周杰伦追到自己成了明星，这个女孩子的操作很可以
                </p>
            </a>
        </li>
        <li class="slide-item slide-item-active swiper-slide">
            <a href="/group/6630964679717945863/" target="_blank">
                <img src="//p99.pstatp.com/origin/daaa0007e2947aa026e6" alt="">
                <p class="title">
                    梅罗时代被终结 多图回顾绝代双骄统治金球奖这十年
                </p>
            </a>
        </li>
        <li class="slide-item slide-item-active swiper-slide">
            <a href="/group/6630767753898754563/" target="_blank">
                <img src="//p9.pstatp.com/origin/da9600060a8875d47c63" alt="">
                <p class="title">
                    美空军在叙利亚紧急出手，猛烈空袭俄叙联军部队
                </p>
            </a>
        </li>
        {{*slide-item-active*}}
        <li class="slide-item slide-item-active swiper-slide">
            <a href="/group/6630595114504815118/" target="_blank">
                <img src="//p3.pstatp.com/origin/dac70007a28408652ebc" alt="">
                <p class="title">
                    伊一的衣服又遭吐槽！网友：“得罪了造型师？”
                </p>
            </a>
        </li>
    </ul>
    {{*<div class="swiper-pagination"></div>*}}
    <div class="swiper-button-next"><em class="icon-next"></em></div>
    <div class="swiper-button-prev"><em class="icon-prev"></em></div>
    {{*
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <ul class="slide-tab bui-right">
        <li class="slide-tab-item">
            要闻
        </li>
        <li class="slide-tab-item">
            社会
        </li>
        <li class="slide-tab-item">
            娱乐
        </li>
        <li class="slide-tab-item">
            体育
        </li>
        <li class="slide-tab-item">
            军事
        </li>
        <li class="slide-tab-item slide-tab-item-active">
            明星
        </li>
    </ul>*}}
</div>