<div class="bui-box footer-bar">
    <div class="bui-left footer-bar-left">
        {{*
        <a href="news_world" target="_blank" class="footer-bar-action tag tag-style-other">国际</a>
        <a href="/c/user/5757425042/" target="_blank" class="footer-bar-action media-avatar">
            <img src="//p2.pstatp.com/large/9519/925052030" lazy="loaded">
        </a>
        *}}
        <a href="{{$row['u_url']}}" target="_blank" class="footer-bar-action source">&nbsp;{{$row['uname']}}&nbsp;</a>
        {{*
        <a href="/group/6631502995152437764//#comment_area" target="_blank" class="footer-bar-action source">
            &nbsp;252评论&nbsp;⋅
        </a>
        *}}
        <span class="footer-bar-action">&nbsp;{{$row['create_time']}}</span>
    </div>
    {{*
    <div class="bui-right">
        <div class="action-dislike" dislikeurl="/api/dislike/">
            <i class="bui-icon icon-close_small" style="font-size: 16px; color: rgb(221, 221, 221);"></i>
            不感兴趣
        </div>
    </div>
     *}}
</div>