<div class="pane-module">
    <div class="module-head">
        精彩图片
    </div>
    <ul class="module-content bui-box picture-list">
        <li class="bui-left picture-item">
            <a href="/group/6630698884962189832/" target="_blank" class="link">
                <div class="module-pic picture-img">
                    <!--lazy="loading"-->
                    <img alt="" src="//p3.pstatp.com/list/300x170/pgc-image/22000466dfd44724a666b80735bf078b">
                    <i class="module-tag">
                        <span>
                            27图
                        </span>
                    </i>
                </div>
                <p>
                    我大三嫁给大18岁男友，休学生子，7年过去了，现在……
                </p>
            </a>
        </li>
        <li class="bui-left picture-item">
            <a href="/group/6631047105626505732/" target="_blank" class="link">
                <div class="module-pic picture-img">
                    <img alt="" src="//p3.pstatp.com/list/300x170/pgc-image/22000466dfd44724a666b80735bf078b">
                    <i class="module-tag">
                        <span>
                            5图
                        </span>
                    </i>
                </div>
                <p>
                    关之琳中毒后，背上流汗的样子，定格一代女神的美，难以超越！
                </p>
            </a>
        </li>
        <li class="bui-left picture-item picture-item-a">
            <div name="hot_image*cell_5" ad-cursor="" style="display: block !important;"
                 ad_name="hot_image*cell_5" done="1" show="">
            </div>
        </li>
    </ul>
</div>