#cdn {
	display:none
}
* {
	margin:0;
	padding:0
}
html {
	font-size:.14rem
}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p {
	-webkit-text-size-adjust:none
}
[contenteditable=true],input,textarea {
	-webkit-user-select:auto!important;
	-o-user-select:auto!important;
	user-select:auto!important
}
input {
	-webkit-appearance:none;
	border:none;
	outline:none
}
[contenteditable],input,textarea {
	-webkit-user-select:text;
	user-select:text;
	-webkit-tap-highlight-color:transparent
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance:none;
	appearance:none
}
a,button,div,img,input,span,textarea {
	-webkit-tap-highlight-color:rgba(255,255,255,0)
}
a {
	text-decoration:none
}
body,html {
	overflow-x:hidden
}
em,i {
	font-style:normal
}
body {
	font-size:.14rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.28px;
	font-family:PingFangSC-Regular,Arial,Microsoft Yahei
}
form,img,table,td {
	border:0
}
li,ol,ul {
	list-style-type:none;
	display:block
}
.footer,.header,.main {
	max-width:640px
}
.none {
	display:none!important
}
.all-screen {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:#fff
}
.flex-center,.flex-space-between {
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center
}
.flex-space-between {
	-webkit-justify-content:space-between;
	justify-content:space-between
}
.title {
	font-size:.2rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.39px;
	height:.48rem;
	line-height:.48rem
}
.full-padding {
	padding:.16rem .16rem 0
}
.button {
	background:#ffcb05;
	border-radius:.04rem;
	font-size:.16rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.31px;
	text-align:center;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none
}
.disable-button,.touch-button {
	opacity:.3
}
.weight {
	font-weight:700!important
}
.padding-bottom-1 {
	padding-bottom:.14rem
}
.touch-class {
	color:rgba(253,177,21,.3)!important
}
.homepage {
	-webkit-flex-direction:column;
	flex-direction:column;
	padding:.78rem .25rem 0;
	color:rgba(0,0,0,.4);
	-webkit-align-items:center;
	align-items:center;
	background-color:#fff;
	height:auto;
	min-height:100%
}
.homepage .title {
	width:3.43rem;
	height:.96rem;
	text-align:center;
	font-weight:700
}
.homepage .title .p1 {
	font-size:.4rem;
	background-image:-webkit-linear-gradient(0deg,#f5a75f,#f2775f)
}
.homepage .title .p1,.homepage .title .p2 {
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text
}
.homepage .title .p2 {
	height:.52rem;
	line-height:.52rem;
	font-size:.26rem;
	background-image:-webkit-linear-gradient(0deg,#f6a35d,#f16160)
}
.homepage .img-box {
	-webkit-flex-shrink:0;
	flex-shrink:0;
	margin-top:.2rem;
	width:3.43rem;
	height:1.18rem;
	margin-bottom:.32rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/products.4f973928.png) no-repeat;
	background-size:contain
}
.homepage .explain {
	width:3.4rem;
	color:rgba(0,0,0,.2);
	letter-spacing:.28px;
	line-height:.18rem;
	text-align:center;
	padding-bottom:.65rem;
	font-size:.12rem
}
.homepage .index-footer .button-box {
	width:2.75rem;
	height:.48rem;
	line-height:.48rem
}
.homepage .index-footer .button-box:first-child {
	margin-bottom:.14rem
}
.msg-box {
	background:transparent!important;
	-webkit-flex-direction:column;
	flex-direction:column;
	padding:0 .3rem .22rem;
	box-sizing:border-box;
	z-index:1
}
.msg-box .msg-content {
	display:inline-block;
	background:rgba(0,0,0,.6);
	height:.36rem;
	line-height:.36rem;
	padding:0 .18rem;
	border-radius:.18rem;
	font-size:.16rem;
	color:#fff;
	letter-spacing:.31px;
	margin:.22rem auto
}
.bounce-enter-active,.bounce-leave-active {
	transition:all .8s ease
}
.bounce-enter,.bounce-leave-active {
	-webkit-transform:translateY(-.12rem);
	transform:translateY(-.12rem);
	opacity:0
}
.input-box {
	height:.3rem;
	display:-webkit-flex;
	display:flex;
	position:relative;
	font-size:.16rem;
	padding-top:.2rem;
	-webkit-flex-direction:column;
	flex-direction:column
}
@-webkit-keyframes a {
	0% {
	-webkit-transform:scaleX(0);
	transform:scaleX(0)
}
to {
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
}@keyframes a {
	0% {
	-webkit-transform:scaleX(0);
	transform:scaleX(0)
}
to {
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
}.input-box .content {
	color:rgba(0,0,0,.1)
}
.input-box .clear {
	width:.14rem;
	height:.14rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/clear.578ee4b9.png) no-repeat;
	background-size:contain;
	position:relative;
	top:.07rem
}
.input-box .extend {
	position:relative
}
.input-box .extend:after {
	content:"";
	position:absolute;
	top:.04rem;
	left:-.04rem;
	right:-.04rem;
	bottom:.04rem
}
.input-box .input-content {
	display:-webkit-flex;
	display:flex;
	position:relative;
	height:.3rem
}
.input-box .input-content,.input-box .input-content .input {
	-webkit-flex-grow:1;
	flex-grow:1;
	-webkit-flex-shrink:1;
	flex-shrink:1
}
.input-box .input-content .input {
	display:block;
	background-color:transparent;
	z-index:0;
	text-align:left;
	height:.16rem;
	font-size:.16rem;
	padding:.07rem 0
}
.input-box .input-content .content {
	-webkit-transform-origin:bottom left;
	transform-origin:bottom left;
	transition:all .3s cubic-bezier(.4,0,.2,1);
	transition-property:color,bottom,-webkit-transform;
	transition-property:color,bottom,transform;
	transition-property:color,bottom,transform,-webkit-transform;
	pointer-events:none;
	position:absolute;
	left:0;
	width:100%;
	height:.3rem;
	line-height:.3rem
}
.input-box .bottom-line {
	background-color:rgba(0,0,0,.1)
}
.input-box .bottom-line,.input-box .bottom-line-active {
	bottom:-.02rem;
	height:.01rem;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	width:100%
}
.input-box .bottom-line-active {
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	background-color:#ffcb05
}
.input-box .errorLine {
	background-color:#da2128!important;
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
.err-text {
	font-size:.12rem;
	color:#da2128;
	letter-spacing:.23px;
	padding-top:.05rem
}
.input-focus .input-content .content {
	transform:scale(.75) translateY(-.43rem);
	-webkit-transform:scale(.75) translateY(-.43rem);
	-ms-transform:scale(.75) translateY(-.43rem);
	-moz-transform:scale(.75) translateY(-.43rem);
	color:#fdb115!important
}
.input-focus .bottom-line-active {
	-webkit-animation:a .3s cubic-bezier(.4,0,.2,1);
	animation:a .3s cubic-bezier(.4,0,.2,1);
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
.input-have-value .input-content .content {
	transform:scale(.75) translateY(-.43rem);
	-webkit-transform:scale(.75) translateY(-.43rem);
	-ms-transform:scale(.75) translateY(-.43rem);
	-moz-transform:scale(.75) translateY(-.43rem);
	color:rgba(0,0,0,.4)
}
.password-box,.password-box input {
	width:100%
}
.password-box .password-eye {
	position:absolute;
	bottom:.03rem;
	right:0;
	width:.24rem;
	height:.24rem
}
.password-box .eye-active {
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/eye-normal.d29ec630.svg) no-repeat;
	background-size:contain
}
.password-box .eye-negative {
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/eyeclose-normal.af2c9b4f.svg) no-repeat;
	background-size:contain
}
.phone-login-input-box {
	position:relative
}
.phone-login-input-box .region-select {
	position:absolute;
	height:.2rem;
	top:.215rem;
	font-size:.16rem;
	color:rgba(0,0,0,.7);
	z-index:1;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:row;
	flex-direction:row
}
.phone-login-input-box .region-select span:first-child {
	display:inline-block;
	line-height:.28rem;
	padding-right:.06rem
}
.phone-login-input-box .region-select .select-arrow {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	width:.12rem;
	height:.2rem;
	margin-top:.03rem;
	padding-right:.05rem;
	border-right:1px solid #e5e5e5
}
.phone-login-input-box .region-select .select-arrow .select-one {
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/arrow-up.4313bcf3.svg) no-repeat;
	background-size:contain;
	width:.1rem;
	height:.1rem;
	display:inline-block
}
.phone-login-input-box .region-select .select-arrow .select-two {
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/arrow-down.094a4fcf.svg) no-repeat;
	background-size:contain;
	width:.1rem;
	height:.1rem;
	display:inline-block
}
.option-box {
	padding-top:.2rem
}
.option-box .option-single {
	height:.48rem;
	line-height:.48rem
}
.option-box .option-single .radio {
	display:block;
	width:.16rem;
	height:.16rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/radio.ef3b36a2.svg) no-repeat;
	background-size:contain;
	position:relative;
	margin:0 .16rem 0 .04rem
}
.option-box .option-single .radio.open:after {
	position:absolute;
	content:"";
	display:inline-block;
	width:.16rem;
	height:.16rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/open.de7b2cbf.svg) no-repeat;
	background-size:contain
}
.option-box .option-single label {
	-webkit-user-select:none;
	user-select:none
}
.title-box>div {
	height:.48rem
}
.title-box .flex-box {
	position:fixed;
	top:0;
	left:0;
	right:0;
	font-size:.16rem;
	box-shadow:0 .01rem .03rem 0 rgba(0,0,0,.1);
	padding:0 .2rem 0 .22rem;
	background:#fff
}
.title-box .flex-box span {
	display:block
}
.title-box .flex-box .left {
	height:100%;
	display:-webkit-flex;
	display:flex
}
.title-box .flex-box .callback {
	width:.24rem;
	height:.24rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/navigation.5eef3bf4.svg) no-repeat;
	background-size:contain
}
.title-box .flex-box .title-text {
	padding-left:.09rem;
	font-size:.16rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.32px
}
.title-box .flex-box .logo {
	width:.4rem;
	height:.2rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/logo.8f7e5c72.png) no-repeat;
	background-size:contain
}
.m-alert {
	z-index:1;
	background:rgba(0,0,0,.2);
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center
}
.m-alert .alert-box {
	width:2.64rem;
	margin:0 auto;
	background:#fff
}
.m-alert .alert-box .alert-box-inner {
	padding:.24rem .34rem .24rem .24rem
}
.m-alert .alert-box .alert-title {
	font-size:.13rem;
	color:rgba(0,0,0,.4);
	letter-spacing:.25px;
	height:.48rem;
	line-height:.48rem
}
.m-alert .alert-box .alert-body {
	width:2.06rem;
	padding:.08rem 0 .24rem;
	letter-spacing:.27px;
	line-height:.24rem;
	word-wrap:break-word
}
.m-alert .alert-box .alert-footer {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:flex-end;
	justify-content:flex-end
}
.m-alert .alert-box .alert-footer .alert-button {
	display:block;
	font-size:.16rem;
	letter-spacing:.31px;
	color:rgba(0,0,0,.4)
}
.m-alert .alert-box .alert-footer .alert-button:last-child {
	margin-left:.57rem
}
.m-alert .alert-box .alert-footer .alert-ensure-button {
	color:#fdb115
}
.button {
	width:100%;
	height:100%
}
.button-2 {
	background:#fff;
	border:1px solid rgba(255,203,5,.5);
	box-sizing:border-box
}
.get-code {
	z-index:1;
	width:100%;
	height:100%;
	box-sizing:border-box
}
.get-code .phone {
	padding-top:.2rem
}
.get-code .voice-show {
	padding:.2rem 0 .16rem;
	font-size:.14rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.28px;
	line-height:.2rem
}
.get-code .not-need-button {
	display:inline-block;
	color:#fdb115;
	letter-spacing:.28px;
	height:.48rem;
	line-height:.48rem
}
.checkout-phone {
	z-index:1;
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box
}
.checkout-phone .text-box {
	padding-top:.2rem
}
.checkout-phone .text-box .text {
	height:.2rem;
	line-height:.2rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.28px
}
.checkout-phone .get-smscode {
	height:.36rem;
	line-height:.36rem;
	color:rgba(0,0,0,.4)
}
.checkout-phone .get-smscode .send-again-button {
	color:#fdb115!important
}
.checkout-phone .send-again-box span {
	display:inline-block;
	height:.48rem;
	line-height:.48rem
}
.checkout-phone .send-again-box .send-again-button {
	color:#fdb115
}
.checkout-phone .send-again-box .show-time {
	padding-left:.04rem
}
.checkout-phone .send-again-box .gray {
	color:rgba(0,0,0,.4)
}
.check-mail {
	z-index:1;
	padding:.16rem .16rem 0
}
.check-mail>div {
	width:100%;
	height:100%;
	box-sizing:border-box
}
.check-mail .checkout-mail .text-box {
	padding-top:.21rem
}
.check-mail .checkout-mail .text-box .text {
	height:.2rem;
	line-height:.2rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.28px
}
.check-mail .checkout-mail .send-again-box span {
	display:inline-block;
	height:.48rem;
	line-height:.48rem
}
.check-mail .checkout-mail .send-again-box .send-again-button {
	color:#fdb115
}
.check-login {
	z-index:1
}
.check-login .login-box {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	position:relative;
	padding:.16rem .16rem .12rem;
	background-color:#f0f2f5;
	width:100%;
	height:100%;
	box-sizing:border-box
}
.check-login .login-box .login-content {
	background-color:#fff;
	padding:.42rem .36rem .56rem;
	margin-bottom:.2rem
}
.check-login .login-box .login-content.login-content-focus {
	padding-top:.24rem;
	transition:all .3s;
	margin-bottom:.4rem
}
.check-login .login-box .login-content .login-logo {
	width:.98rem;
	height:.58rem;
	margin:0 auto .48rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/logo.8f7e5c72.png) no-repeat;
	background-size:contain;
	transition:all .3s
}
.check-login .login-box .login-content .login-logo.login-focus {
	-webkit-transform:scale(.68);
	transform:scale(.68);
	margin-bottom:.32rem
}
.check-login .login-box .login-content .login-text {
	padding-bottom:.14rem
}
.check-login .login-box .login-content .login-button {
	margin-top:.17rem;
	width:2.71rem;
	height:.48rem;
	line-height:.48rem
}
.check-login .login-box .login-content .forget-pass {
	color:#fdb115;
	height:.44rem;
	line-height:.44rem;
	display:inline-block
}
.check-login .login-box .login-content .footer {
	padding-top:.18rem;
	width:100%;
	height:.44rem
}
.check-login .login-box .login-content .footer .next {
	margin:auto;
	left:0;
	right:0
}
.check-login .login-box .login-footer {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column
}
.check-login .login-box .login-footer .explain {
	font-size:.12rem;
	color:rgba(0,0,0,.1);
	letter-spacing:-.29px;
	width:100%;
	text-align:center;
	padding-bottom:.12rem
}
.check-login .login-box .login-footer .products {
	width:3.43rem;
	height:.48rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/login-footer.5a67d74d.png) no-repeat;
	background-size:contain;
	-webkit-align-self:center;
	align-self:center
}
.check-phone-other .check-phone-input {
	position:relative
}
.check-phone-other .check-phone-input .clear {
	position:absolute;
	right:.8rem;
	top:.05rem;
	z-index:1
}
.check-phone-other .check-phone-input .get-smscode {
	position:absolute;
	right:0;
	top:.3rem;
	width:1.2rem;
	text-align:right;
	font-size:.14rem
}
.check-phone-other .check-phone-input .get-smscode span:first-child {
	color:#fcb116
}
.check-phone-other .check-phone-input .get-smscode span:first-child.gray-text {
	color:rgba(0,0,0,.4)
}
.check-phone-other .check-phone-input .get-smscode .text-gray {
	color:rgba(0,0,0,.7);
	font-size:.14rem
}
.check-phone-other .voice {
	font-size:.13rem;
	line-height:.18rem;
	padding-top:.04rem;
	color:rgba(0,0,0,.4)
}
.check-phone-other .voice .send-voice {
	color:#fcb116
}
.check-phone-other .voice .gray-text {
	color:rgba(0,0,0,.4)
}
.check-phone-other .m-alert .alert-box .alert-box-inner {
	position:relative
}
.check-phone-other .m-alert .alert-box .alert-box-inner .alert-footer .haveClass {
	color:rgba(0,0,0,.4);
	left:.24rem;
	position:absolute
}
.check-phone-other .m-alert .alert-box .alert-box-inner .alert-footer .alert-ensure-button {
	margin-left:0
}
.send-again-box span {
	display:inline-block;
	height:.48rem;
	line-height:.48rem
}
.send-again-box .send-again-button {
	color:#fdb115
}
.send-again-box .show-time {
	padding-left:.04rem
}
.send-again-box .gray {
	color:rgba(0,0,0,.4)!important
}
.region-enter-active,.region-leave-active {
	transition:all .3s cubic-bezier(1,.5,.8,1)
}
.region-enter,.region-leave-active {
	-webkit-transform:translateX(.1rem);
	transform:translateX(.1rem);
	opacity:0
}
.z-index {
	z-index:2
}
.select-region {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	overflow:scroll
}
.select-region .select-region-title {
	width:100%;
	height:.48rem;
	padding:.16rem .84rem .06rem .16rem;
	font-size:.2rem;
	line-height:.48rem;
	letter-spacing:.4px;
	color:rgba(0,0,0,.7);
	font-family:PingFangSC-Medium;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:#fff;
	z-index:1
}
.select-region .select-region-content {
	margin-top:.72rem
}
.select-region .select-region-content .region-list .region-letter {
	background-color:#f0f2f5;
	padding-left:.16rem;
	line-height:.2rem;
	font-size:.12rem;
	color:rgba(0,0,0,.4)
}
.select-region .select-region-content .region-list .region-detail {
	line-height:.38rem;
	font-size:.14rem;
	color:rgba(0,0,0,.7);
	letter-spacing:.28px
}
.select-region .select-region-content .region-list .region-detail .region-name {
	padding-left:.16rem;
	text-align:left
}
.select-region .select-region-content .region-list .region-detail .region-code {
	position:absolute;
	right:.31rem
}
.select-region .select-bar {
	line-height:.16rem;
	font-size:.1rem;
	width:.2rem;
	text-align:center;
	color:rgba(0,0,0,.4);
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-justify-content:center;
	justify-content:center;
	position:fixed;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	right:.02rem
}
.footer {
	margin-top:.05rem;
	padding-top:.16rem;
	height:.44rem;
	position:relative;
	background-color:#fff
}
.footer span {
	display:block;
	width:.52rem;
	height:.44rem;
	line-height:.44rem
}
.footer .prex {
	font-size:.16rem;
	color:#fdb115;
	letter-spacing:.31px
}
.footer .next {
	position:absolute;
	top:.16rem;
	right:0;
	font-size:.16rem;
	color:rgba(0,0,0,.7);
	width:1.24rem;
	height:.44rem;
	line-height:.44rem
}
.big-button {
	width:2.71rem!important;
	height:.48rem!important;
	line-height:.48rem!important
}
.single-option-box .option-single .radio {
	display:block;
	width:.2rem;
	height:.2rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/radio.ef3b36a2.svg) no-repeat;
	background-size:contain;
	position:relative;
	margin-right:.12rem
}
.single-option-box .option-single .radio.open:after {
	position:absolute;
	content:"";
	display:inline-block;
	width:.2rem;
	height:.2rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/open.de7b2cbf.svg) no-repeat;
	background-size:contain
}
.single-option-box .option-single label {
	-webkit-user-select:none;
	user-select:none
}
.parent {
	display:-webkit-flex;
	display:flex
}
.first-value {
	width:.71rem
}
.last-value {
	-webkit-flex:1;
	flex:1;
	margin-left:.2rem;
	width:2.49rem
}
.input-box {
	height:.3rem;
	display:-webkit-flex;
	display:flex;
	position:relative;
	font-size:.16rem;
	padding-top:.2rem;
	-webkit-flex-direction:column;
	flex-direction:column
}
@-webkit-keyframes a {
	0% {
	-webkit-transform:scaleX(0);
	transform:scaleX(0)
}
to {
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
}@keyframes a {
	0% {
	-webkit-transform:scaleX(0);
	transform:scaleX(0)
}
to {
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
}.input-box .content {
	color:rgba(0,0,0,.1)
}
.input-box .clear {
	width:.14rem;
	height:.14rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/clear.578ee4b9.png) no-repeat;
	background-size:contain
}
.input-box .extend {
	position:relative
}
.input-box .extend:after {
	content:"";
	position:absolute;
	top:.04rem;
	left:-.04rem;
	right:-.04rem;
	bottom:.04rem
}
.input-box .input-content {
	display:-webkit-flex;
	display:flex;
	position:relative;
	height:.3rem
}
.input-box .input-content .input {
	width:100%;
	display:block;
	background-color:transparent;
	z-index:0;
	text-align:left;
	height:.16rem;
	font-size:.16rem;
	padding:.07rem 0
}
.input-box .input-content .content {
	-webkit-transform-origin:bottom left;
	transform-origin:bottom left;
	transition:all .3s cubic-bezier(.4,0,.2,1);
	transition-property:color,bottom,-webkit-transform;
	transition-property:color,bottom,transform;
	transition-property:color,bottom,transform,-webkit-transform;
	pointer-events:none;
	position:absolute;
	left:0;
	width:100%;
	height:.3rem;
	line-height:.3rem
}
.input-box .bottom-line {
	background-color:rgba(0,0,0,.1)
}
.input-box .bottom-line,.input-box .bottom-line-active {
	bottom:-.02rem;
	height:.01rem;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	width:100%
}
.input-box .bottom-line-active {
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	background-color:#ffcb05
}
.input-box .errorLine {
	background-color:#da2128!important;
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
.err-text {
	font-size:.12rem;
	color:#da2128;
	letter-spacing:.23px;
	padding-top:.05rem
}
.input-focus .input-content .content {
	transform:scale(.75) translateY(-.43rem);
	-webkit-transform:scale(.75) translateY(-.43rem);
	-ms-transform:scale(.75) translateY(-.43rem);
	-moz-transform:scale(.75) translateY(-.43rem);
	color:#fdb115!important
}
.input-focus .bottom-line-active {
	-webkit-animation:a .3s cubic-bezier(.4,0,.2,1);
	animation:a .3s cubic-bezier(.4,0,.2,1);
	-webkit-transform:scaleX(1);
	transform:scaleX(1)
}
.input-have-value .input-content .content {
	transform:scale(.75) translateY(-.43rem);
	-webkit-transform:scale(.75) translateY(-.43rem);
	-ms-transform:scale(.75) translateY(-.43rem);
	-moz-transform:scale(.75) translateY(-.43rem);
	color:rgba(0,0,0,.4)
}
.footer-button {
	width:100%;
	height:.44rem;
	position:fixed;
	bottom:0;
	left:0;
	background:#ffcb05;
	opacity:.8;
	font-size:.16rem;
	line-height:.44rem;
	text-align:center;
	color:rgba(0,0,0,.7);
	letter-spacing:.32px
}
.disable-button {
	opacity:.3
}










/*

*/

.check-login {
	z-index:1
}
.check-login .login-box {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	position:relative;
	padding:.16rem .16rem .1rem;
	background-color:#f0f2f5;
	width:100%;
	height:100%;
	box-sizing:border-box;
	height:auto;
	min-height:100%
}
.check-login .login-box .login-content {
	background-color:#fff;
	padding:.42rem .36rem .3rem;
	margin-bottom:.6rem
}
.check-login .login-box .login-content .login-logo {
	width:.98rem;
	height:.54rem;
	margin:0 auto .18rem;
	background:url(//passport-fe.cdn.sohusce.com/passport-app/img/logo.8f7e5c72.png) no-repeat;
	background-size:contain;
	transition:all .3s
}
.check-login .login-box .login-content .login-password {
	padding-top:.2rem
}
.check-login .login-box .login-content .login-password .bottom-line,.check-login .login-box .login-content .login-password .bottom-line-active {
	bottom:-.025rem
}
.check-login .login-box .login-content .code-input-box {
	padding-top:.16rem;
	position:relative
}
.check-login .login-box .login-content .code-input-box input {
	width:60%!important
}
.check-login .login-box .login-content .code-input-box .vertify-code-box {
	position:absolute;
	top:.14rem;
	right:0;
	width:1.02rem;
	height:.5rem
}
.check-login .login-box .login-content .code-input-box .vertify-code-box .change-text {
	font-size:.1rem;
	color:#fdb115;
	letter-spacing:.19px;
	position:absolute;
	right:0
}
.check-login .login-box .login-content .code-input-box .vertify-code-box img {
	width:1.02rem;
	height:.36rem;
	position:absolute;
	bottom:0
}
.check-login .login-box .login-content .submit-box {
	padding-top:.18rem;
	height:.48rem;
	line-height:.48rem;
	width:100%
}
.check-login .login-box .login-content .button-box {
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between
}
.check-login .login-box .login-content .button-box .forget-pass {
	color:rgba(0,0,0,.4);
	height:.44rem;
	line-height:.44rem;
	display:inline-block
}
.check-login .login-box .login-content .button-box .create-account {
	color:#fdb115;
	height:.44rem;
	line-height:.44rem;
	display:inline-block
}
.check-login .login-box .login-footer {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	-webkit-align-self:center;
	align-self:center;
	text-align:center
}
.check-login .login-box .login-footer .phone,.check-login .login-box .login-footer .qq,.check-login .login-box .login-footer .weibo {
	width:.68rem;
	height:.68rem;
	font-size:.11rem
}
.check-login .login-box .login-footer .phone.margin,.check-login .login-box .login-footer .qq.margin,.check-login .login-box .login-footer .weibo.margin {
	margin-right:.3rem
}
.check-login .login-box .login-footer .phone img,.check-login .login-box .login-footer .qq img,.check-login .login-box .login-footer .weibo img {
	width:.32rem;
	height:.32rem
}
.check-login .login-box .login-footer .phone img {
	width:.24rem;
	height:.24rem;
	padding-top:.06rem
}




