<title class="jsx-2559917061 next-head">个人中心 - 腾讯网</title>
<meta charSet="utf-8" class="jsx-2559917061 next-head"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" class="jsx-2559917061 next-head"/>
<meta name="format-detection" content="telephone=no" class="jsx-2559917061 next-head"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" class="jsx-2559917061 next-head"/>

<link rel="dns-prefetch" href="{{$app_relative_domain}}" class="jsx-2559917061 next-head"/>
<link rel="apple-touch-icon" href="//mat1.gtimg.com/www/mobi/2017/image/apple-touch-icon.png" class="jsx-2559917061 next-head"/>
<link rel="icon" sizes="192x192" href="//mat1.gtimg.com/www/mobi/2017/image/logo/v0/192.png" class="jsx-2559917061 next-head"/>
<link rel="manifest" href="/manifest.json" class="jsx-2559917061 next-head"/>
<meta name="apple-mobile-web-app-title" content="个人中心" class="jsx-2559917061 next-head"/>
<meta name="keywords" content="资讯,新闻,财经,房产,视频,NBA,科技,腾讯网,腾讯,QQ,Tencent,腾讯网" class="jsx-2559917061 next-head"/>
<meta name="description" content="腾讯网从2003年创立至今，已经成为集新闻信息，区域垂直生活服务、社会化媒体资讯和产品为一体的互联网媒体平台。腾讯网下设新闻、科技、财经、娱乐、体育、汽车、时尚等多个频道，充分满足用户对不同类型资讯的需求。同时专注不同领域内容，打造精品栏目，并顺应技术发展趋势，推出网络直播等创新形式，改变了用户获取资讯的方式和习惯。" class="jsx-2559917061 next-head"/><meta name="theme-color" content="#ffffff" class="jsx-2559917061 next-head"/>