<div class="jsx-2096846311 menuList ">
                            <div class="jsx-2912839303 main">
                                <div class="jsx-2912839303 section-title">
                                    <h3 class="jsx-2912839303">我的频道</h3>
                                    <span class="jsx-2912839303 status">点击<!-- -->进入<!-- -->频道</span>
                                    <button type="button" class="jsx-2912839303 edit edit-enter">编辑</button>
                                </div>
                                <ul class="jsx-2912839303 ch-list ">
                                    <li class="jsx-2912839303">
                                        <a href="/" target="_self" class="jsx-2912839303 uneditable">要闻</a></li>
                                    <li class="jsx-2912839303"><a href="/m/recommend" target="_self" class="jsx-2912839303 uneditable">爱看</a></li>
                                    <li class="jsx-2912839303"><a href="/m/picture" target="_self" class="jsx-2912839303 editable">图片</a></li>
                                    <li class="jsx-2912839303"><a href="/m/hot" target="_self" class="jsx-2912839303 editable">热点</a></li>
                                    <li class="jsx-2912839303"><a href="/m/shortvideo" target="_self" class="jsx-2912839303 editable">小视界</a></li>
                                    <li class="jsx-2912839303"><a href="/m/dujia" target="_self" class="jsx-2912839303 editable">独家</a></li>
                                    <li class="jsx-2912839303"><a href="javascript:;" target="_self" class="jsx-2912839303 editable">本地</a></li>
                                    <li class="jsx-2912839303"><a href="/m/xsd" target="_self" class="jsx-2912839303 editable">新时代</a></li>
                                    <li class="jsx-2912839303"><a href="/m/shipin" target="_self" class="jsx-2912839303 editable">视频</a></li>
                                    <li class="jsx-2912839303"><a href="/m/ent" target="_self" class="jsx-2912839303 editable">娱乐</a></li>
                                    <li class="jsx-2912839303"><a href="/m/nba" target="_self" class="jsx-2912839303 editable">NBA</a></li>
                                    <li class="jsx-2912839303"><a href="/m/sports" target="_self" class="jsx-2912839303 editable">体育</a></li>
                                    <li class="jsx-2912839303"><a href="/m/football" target="_self" class="jsx-2912839303 editable">足球</a></li>
                                    <li class="jsx-2912839303"><a href="/m/astro" target="_self" class="jsx-2912839303 editable">星座</a></li>
                                    <li class="jsx-2912839303"><a href="/m/tianqi" target="_self" class="jsx-2912839303 editable">天气</a></li>
                                    <li class="jsx-2912839303"><a href="/m/finance" target="_self" class="jsx-2912839303 editable">财经</a></li>
                                    <li class="jsx-2912839303"><a href="/m/mil" target="_self" class="jsx-2912839303 editable">军事</a></li>
                                    <li class="jsx-2912839303"><a href="/m/tech" target="_self" class="jsx-2912839303 editable">科技</a></li>
                                    <li class="jsx-2912839303"><a href="/m/digi" target="_self" class="jsx-2912839303 editable">数码</a></li>
                                    <li class="jsx-2912839303"><a href="/m/fashion" target="_self" class="jsx-2912839303 editable">时尚</a></li>
                                    <li class="jsx-2912839303"><a href="/m/auto" target="_self" class="jsx-2912839303 editable">汽车</a></li>
                                    <li class="jsx-2912839303"><a href="/m/games" target="_self" class="jsx-2912839303 editable">游戏</a></li>
                                    <li class="jsx-2912839303"><a href="/m/house" target="_self" class="jsx-2912839303 editable">房产</a></li>
                                    <li class="jsx-2912839303"><a href="/m/stock" target="_self" class="jsx-2912839303 editable">股票</a></li>
                                    <li class="jsx-2912839303"><a href="/m/music" target="_self" class="jsx-2912839303 editable">音乐</a></li>
                                    <li class="jsx-2912839303"><a href="/m/edu" target="_self" class="jsx-2912839303 editable">教育</a></li>
                                    <li class="jsx-2912839303"><a href="/m/cul" target="_self" class="jsx-2912839303 editable">文化</a></li>
                                    <li class="jsx-2912839303"><a href="/m/ac" target="_self" class="jsx-2912839303 editable">动漫</a></li>
                                    <li class="jsx-2912839303"><a href="/m/world" target="_self" class="jsx-2912839303 editable">国际</a></li>
                                    <li class="jsx-2912839303"><a href="/m/movie" target="_self" class="jsx-2912839303 editable">电影</a></li>
                                    <li class="jsx-2912839303"><a href="/m/fx" target="_self" class="jsx-2912839303 editable">佛学</a></li>
                                    <li class="jsx-2912839303"><a href="/m/health" target="_self" class="jsx-2912839303 editable">健康</a></li>
                                    <li class="jsx-2912839303"><a href="/m/fun" target="_self" class="jsx-2912839303 editable">搞笑</a></li>
                                    <li class="jsx-2912839303"><a href="/m/history" target="_self" class="jsx-2912839303 editable">历史</a></li>
                                    <li class="jsx-2912839303"><a href="/m/inspiration" target="_self" class="jsx-2912839303 editable">鸡汤</a></li>
                                    <li class="jsx-2912839303"><a href="/m/science" target="_self" class="jsx-2912839303 editable">科学</a></li>
                                    <li class="jsx-2912839303"><a href="/m/food" target="_self" class="jsx-2912839303 editable">美食</a></li>
                                    <li class="jsx-2912839303"><a href="/m/cba" target="_self" class="jsx-2912839303 editable">CBA</a></li>
                                    <li class="jsx-2912839303"><a href="/m/esport" target="_self" class="jsx-2912839303 editable">电竞</a></li>
                                    <li class="jsx-2912839303"><a href="/m/shehui" target="_self" class="jsx-2912839303 editable">民生</a></li>
                                    <li class="jsx-2912839303"><a href="/m/24h" target="_self" class="jsx-2912839303 editable">24小时</a></li>
                                    <li class="jsx-2912839303"><a href="/m/ggkf" target="_self" class="jsx-2912839303 editable">改革开放</a></li>
                                    <li class="jsx-2912839303"><a href="/m/zongyi" target="_self" class="jsx-2912839303 editable">综艺</a></li>
                                    <li class="jsx-2912839303"><a href="/m/zhongchao" target="_self" class="jsx-2912839303 editable">中超</a></li>
                                    <li class="jsx-2912839303"><a href="/m/mobile" target="_self" class="jsx-2912839303 editable">手机</a></li>
                                    <li class="jsx-2912839303"><a href="/m/ershou" target="_self" class="jsx-2912839303 editable">二手车</a></li>
                                    <li class="jsx-2912839303"><a href="/m/junqing" target="_self" class="jsx-2912839303 editable">中国军情</a></li>
                                    <li class="jsx-2912839303"><a href="/m/huanqiujq" target="_self" class="jsx-2912839303 editable">环球军情</a></li>
                                    <li class="jsx-2912839303"><a href="/m/mingxing" target="_self" class="jsx-2912839303 editable">明星</a></li>
                                    <li class="jsx-2912839303"><a href="/m/newcar" target="_self" class="jsx-2912839303 editable">新车</a></li>
                                    <li class="jsx-2912839303"><a href="/m/women" target="_self" class="jsx-2912839303 editable">女性</a></li>
                                </ul>
                                <div class="jsx-2912839303 section-title underline">
                                    <h3 class="jsx-2912839303 current">
                                        <a href="javascript:;" target="_self" class="jsx-2912839303">推荐频道</a>
                                    </h3>
                                    <h3 class="jsx-2912839303 ">
                                        <a href="javascript:;" target="_self" class="jsx-2912839303">地方频道</a>
                                    </h3>
                                    <span class="jsx-2912839303 status right">点击进入频道</span>
                                </div>
                                <ul class="jsx-2912839303 ch-list ">
                                    <li class="jsx-2912839303"><a href="/m/hanliu" target="_self" class="jsx-2912839303">韩流</a></li>
                                    <li class="jsx-2912839303"><a href="/m/meirong" target="_self" class="jsx-2912839303">美容</a></li>
                                    <li class="jsx-2912839303"><a href="/m/pet" target="_self" class="jsx-2912839303">宠物</a></li>
                                    <li class="jsx-2912839303"><a href="/m/baby" target="_self" class="jsx-2912839303">育儿</a></li>
                                    <li class="jsx-2912839303"><a href="/m/visit" target="_self" class="jsx-2912839303">旅游</a></li>
                                    <li class="jsx-2912839303"><a href="/m/strike" target="_self" class="jsx-2912839303">搏击</a></li>
                                    <li class="jsx-2912839303"><a href="/m/lic" target="_self" class="jsx-2912839303">理财</a></li>
                                    <li class="jsx-2912839303"><a href="/m/schoolyard" target="_self" class="jsx-2912839303">校园</a></li>
                                    <li class="jsx-2912839303"><a href="/m/icesnow" target="_self" class="jsx-2912839303">冰雪</a></li>
                                    <li class="jsx-2912839303"><a href="/m/media" target="_self" class="jsx-2912839303">传媒</a></li>
                                    <li class="jsx-2912839303"><a href="/m/nfl" target="_self" class="jsx-2912839303">NFL</a></li>
                                    <li class="jsx-2912839303"><a href="/m/fm" target="_self" class="jsx-2912839303">有声</a></li>
                                </ul>
                            </div>
                        </div>