<!DOCTYPE html>
<html>
    <head>
        {{include file="./block/header_html.html"}}
        <link rel="stylesheet" href="/static/p/css/about.css">
        
    </head>
    <body>
        <div>
            <div class="header">
                {{include file="./block/top_bar.html"}}
                <div class="middlebar">
                    <div class="middlebar-inner clearfix" style="width: 1120px;">
                        <div class="bui-left logo-box">
                            <a href="/" ga_event="go_home" class="logo-link">
                                <img src="//s3.pstatp.com/toutiao/static/img/logo.201f80d.png" class="logo">
                            </a>
                        </div>
                        <ul class="bui-right doc-header-tab">
                            {{foreach $cats as $key=>$val}}
                            <li class="doc-header-tab-item{{if $val.catdir==$catdir}} doc-header-tab-item-active{{/if}}">
                                <a href="{{$val.url}}"><span>{{$val.catname}}</span></a>
                            </li>
                            {{/foreach}}
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="doc-container">
                <div class="doc-article">
                    <section>
                        {{$article.content}}
                    </section>
                </div>
            </div>
            <div class="footer">
               {{include file="./block/footer.html"}}
            </div>
        </div>
        {{*
        <style>
            a[href*='//www.cnzz.com/stat'] { display: none!important; }
        </style>
        <a href="https://www.cnzz.com/stat/website.php?web_id=1259612802" target="_blank"
           title="站长统计">
            站长统计
        </a>
        *}}
    </body>

</html>