<!DOCTYPE html>
<html>
    <head>
        {{include file="./block/header_html.html"}}
        <link rel="stylesheet" href="/static/p/css/about.css">
        
    </head>
    <body>
        <div>
            <div class="header">
                {{include file="./block/top_bar.html"}}
                <div class="middlebar">
                    <div class="middlebar-inner clearfix" style="width: 1120px;">
                        <div class="bui-left logo-box">
                            <a href="/" ga_event="go_home" class="logo-link">
                                <img src="//s3.pstatp.com/toutiao/static/img/logo.201f80d.png" class="logo">
                            </a>
                        </div>
                        <ul class="bui-right doc-header-tab">
                            {{foreach $cats as $key=>$val}}
                            <li class="doc-header-tab-item{{if $val.catdir==$catdir}} doc-header-tab-item-active{{/if}}">
                                <a href="{{$val.url}}"><span>{{$val.catname}}</span></a>
                            </li>
                            {{/foreach}}
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="doc-container">
                <div class="doc-article">
                    <section>
                        {{$article.content}}
                    </section>
                </div>
            </div>
            <div class="footer">
                <div>
                    <span class="fitem">
                        © 2018 {{$site.name}} {{$site.domain}}
                    </span>
                    <a href="http://www.12377.cn/" target="_blank" class="fitem">
                        中国互联网举报中心
                    </a>
                    <a href="http://www.miibeian.gov.cn/" target="_blank" class="fitem">
                        {{$site.icp}}
                    </a>
                    {{if $site.license}}
                    <a href="http://www.miibeian.gov.cn/" target="_blank" class="fitem">
                        {{$site.license}}
                    </a>
                    {{/if}}
                    {{*
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002002023"
                       target="_blank" class="fitem">
                        <img src="//s3.pstatp.com/toutiao/static/img/gongan.d0289dc.png">
                        京公网安备 11000002002023号
                    </a>
                    *}}
                </div>
                <div>
                    {{if $site.license}}
                    <a href="/license/" target="_blank" class="fitem">
                        网络文化经营许可证
                    </a>
                    {{/if}}
                    {{if $site.self_discipline}}
                    <a href="/{{$site.self_discipline}}" target="_blank" class="fitem">
                        跟帖评论自律管理承诺书
                    </a>
                    {{/if}}
                    {{if $site.report}}
                    <span class="fitem">
                        违法和不良信息举报电话：{{$site.report}}
                    </span>
                    {{/if}}
                    <span class="fitem">
                        公司名称：{{$site.company_name}}
                    </span>
                </div>
            </div>
        </div>
        {{*
        <style>
            a[href*='//www.cnzz.com/stat'] { display: none!important; }
        </style>
        <a href="https://www.cnzz.com/stat/website.php?web_id=1259612802" target="_blank"
           title="站长统计">
            站长统计
        </a>
        *}}
    </body>

</html>