<!DOCTYPE html>
<html>
    <head>
        {{include file="./block/header_html.html"}}
        <link rel="stylesheet" href="/static/p/css/article.css">

        <style type="text/css">
            @keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } } 
            .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; } 
            .resize-triggers,
            .resize-triggers > div, .contract-trigger:before { content: " "; display:block; position: absolute; top: 0; left: 0; height: 100%; width: 100%;overflow: hidden; } 
            .resize-triggers > div { background: #eee; overflow:auto; } 
            .contract-trigger:before { width: 200%; height: 200%; }
        </style>

    </head>
    <body class=" " libsign2018625="1" mainsign2018827="1" firstsign2018827="1"
          rlt="1" style="">
        <div>
            <div class="toutiao-header">
                {{include file="./block/top_bar.html"}}
                <div class="middlebar">
                    <div class="middlebar-inner clearfix" style="width: 1170px;">
                        <div class="bui-left logo-box">
                            <a href="/" class="logo-link">
                                <img src="/static/images/web_logo.png" class="logo">
                            </a>
                        </div>
                        <div class="bui-left chinese-tag">
                            <a href="/" target="_blank">首页</a>/<span class="text">正文</span>
                        </div>
                        <div class="bui-right">
                            <div class="search-wrap">
                                <div class="tt-autocomplete">
                                    <div class="tt-input tt-input-group tt-input-group--append">
                                        <input type="text" id="input_q" placeholder="请输入要搜索的内容" autocomplete="off" class="tt-input__inner">
                                        <div class="tt-input-group__append" id="search_btn">
                                            <button type="button" class="tt-button tt-button--default">
                                                <span>搜索</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tt-autocomplete-suggestion" style="display: none;">
                                        <div class="tt-scrollbar">
                                            <div class="tt-autocomplete-suggestion__wrap tt-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                                <ul class="tt-scrollbar__view tt-autocomplete-suggestion__list" style="position: relative;">
                                                    <div class="resize-triggers">
                                                        <div class="expand-trigger">
                                                            <div style="width: 1px; height: 1px;"></div>
                                                        </div>
                                                        <div class="contract-trigger"></div>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="tt-scrollbar__bar is-horizontal">
                                                <div class="tt-scrollbar__thumb" style="transform: translateX(0%);"></div>
                                            </div>
                                            <div class="tt-scrollbar__bar is-vertical">
                                                <div class="tt-scrollbar__thumb" style="transform: translateY(0%);"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bui-box container">
                <div class="bui-left index-left">
                    <div class="share-box">
                        <a href="#comment_area" ga_event="click_comment_anchor" class="share-count">
                            <i class="bui-icon icon-comments_anchor" style="font-size: 30px; color: rgb(248, 89, 89);">
                            </i>
                            <span>
                                220
                            </span>
                        </a>
                        <div class="share-hr">
                        </div>
                        <div ga_event="click_repost" class="share-type">
                            <img src="/static/images/repost.png" class="repost-img">
                            <span>
                                转发
                            </span>
                        </div>
                        <div ga_event="click_share_weibo" class="share-type">
                            <i class="bui-icon icon-sina" style="font-size: 34px; color: rgb(255, 102, 49);">
                            </i>
                            <span>
                                微博
                            </span>
                        </div>
                        <div ga_event="click_share_qzone" class="share-type">
                            <i class="bui-icon icon-qzone" style="font-size: 34px; color: rgb(255, 189, 29);">
                            </i>
                            <span>
                                Qzone
                            </span>
                        </div>
                        <div ga_event="click_share_weixin" class="share-type share-weixin">
                            <i class="bui-icon icon-wechat" style="font-size: 34px; color: rgb(82, 205, 62);">
                            </i>
                            <span>
                                微信
                            </span>
                            <div class="share-qrcode">
                                <div id="J_qrcode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bui-left index-middle">
                    <div class="article-box">
                        <h1 class="article-title">
                            {{$article.title}}
                        </h1>
                        <div class="article-sub">
                            <!---->
                            <span>
                                {{$article.uname}}
                            </span>
                            <span>
                                {{$article.create_time}}
                            </span>
                        </div>
                        <div class="article-content" deep="4">
                            {{$article.content}}
                        </div>
                        <!---->
                        <div class="bui-box article-tag">
                            <div class="bui-left">
                                {{if !empty($article.tags)}}
                                <i class="bui-icon icon-tag" style="font-size: 21px; color: rgb(202, 202, 202);"></i>
                                <ul class="tag-list">
                                    {{foreach $article.tags as $key=>$val}}
                                    <li class="tag-item"><a href="/search/?q={{$val}}" target="_blank" class="label-link">{{$val}}</a></li>
                                    {{/foreach}}
                                </ul>
                                {{/if}}
                            </div>
                            <div class="bui-right">
                                <div class="repin">
                                    <i class="bui-icon icon-favorite_line" style="font-size: 18px; {{if !empty($article.is_collected)}}color: rgb(255, 189, 29){{else}}color: rgb(202, 202, 202){{/if}};"></i>
                                    <span id="collection" data-aid="{{$article.aid}}">收藏</span>
                                </div>
                                <div class="report">
                                    {{*
                                    <div class="areport">
                                        <i class="bui-icon icon-report" style="font-size: 14px; color: rgb(202, 202, 202);"></i>
                                        <span>举报</span>
                                    </div>
                                    
                                    <div class="tt-dialog__wrapper" style="display: none;">
                                        <div class="tt-dialog tt-dialog--tiny" style="top: 15%;">
                                            <div class="tt-dialog__header">
                                                <span class="tt-dialog__title">
                                                    举报文章问题
                                                </span>
                                                <div class="tt-dialog__headerbtn">
                                                    <i class="tt-dialog__close bui-icon icon-close_big">
                                                    </i>
                                                </div>
                                            </div>
                                            <!---->
                                            <div class="tt-dialog__footer">
                                                <span class="dialog-footer">
                                                    <button type="button" class="tt-button tt-button--default">
                                                        <span>取消</span>
                                                    </button>
                                                    <button type="button" class="tt-button tt-button--primary">
                                                        <span>确认</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    *}}
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    {{*
                    <div ad-cursor="" name="adetail_main*bottom_1" id="J_ad_baidu_bottom"
                         class="bd-bottom-1" ad_name="h_640*60_TB_146" done="1" show="1">
                    </div>
                    *}}

                    {{include file="./block/detail_comment.html"}}
                    {{include file="./block/detail_feed.html"}}


                </div>
                <div class="bui-right index-right">
                    <div class="pane-module">
                        <!---->
                        <div class="user-card">
                            <input type="hidden" id="aid" value="{{$article.aid}}">
                            <input type="hidden" id="uid" value="{{$article.uid}}">
                            <div class="user-card-head">
                                <a target="_blank" href="{{$article.u_url}}" class="user-card-avatar">
                                    <img src="{{$article.upic}}" alt="">
                                </a>
                                <div class="user-card-name">
                                    <a href="{{$article.u_url}}" target="_blank">
                                        {{$article.uname}}
                                    </a>
                                    <div class="subscribe">
                                        <div class="left-arrow subscribe-btn">
                                            <i class="bui-icon icon-add_small" style="font-size: 12px; color: rgb(255, 255, 255);">
                                            </i>
                                            <span id="follow" data-uid="{{$article.uid}}">关注</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="user-card-article-list">

                            </ul>
                        </div>
                    </div>

                    {{include file="./block/right_pic.html"}}
                    {{include file="./block/detail_right_adv.html"}}

                </div>
            </div>
            
            {{*浮动toolbar*}}
            <ul data-v-5c014667="" class="toolbar">
                <li data-v-5c014667="" class="tool-item">
                    <a data-v-5c014667="" href="javascript:void(0);" id="icon-arrow_up_big">
                        <i data-v-5c014667="" class="bui-icon icon-arrow_up_big" style="font-size: 16px; color: rgb(255, 255, 255);">
                        </i>
                    </a>
                </li>
            </ul>

            {{include file="./block/detail_publisher.html"}}

        </div>
        
    </body>

</html>
<script src="/static/js/common/jquery-3.2.1.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/jquery.cookie.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>

<script src="/static/p/js/article.js?v=1" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/common.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/list_dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
