<!DOCTYPE html>
<html>
    <head>
        <style class="vjs-styles-defaults">
            .video-js {
                width: 300px;
                height: 150px;
            }

            .vjs-fluid {
                padding-top: 56.25%
            }
        </style>
        <meta charset="utf-8">
        <title>今日头条</title>
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <meta name="renderer" content="webkit">
        <link rel="dns-prefetch" href="//s3.pstatp.com/">
        <link rel="dns-prefetch" href="//s3a.pstatp.com/">
        <link rel="dns-prefetch" href="//s3b.pstatp.com">
        <link rel="dns-prefetch" href="//p1.pstatp.com/">
        <link rel="dns-prefetch" href="//p3.pstatp.com/">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">

        <!--        <meta name="360-site-verification" content="b96e1758dfc9156a410a4fb9520c5956">
                <meta name="360_ssp_verify" content="2ae4ad39552c45425bddb738efda3dbb">
                <meta name="google-site-verification" content="3PYTTW0s7IAfkReV8wAECfjIdKY-bQeSkVTyJNZpBKE">
                <meta name="shenma-site-verification" content="34c05607e2a9430ad4249ed48faaf7cb_1432711730">
                <meta name="baidu_union_verify" content="b88dd3920f970845bad8ad9f90d687f7">
                <meta name="domain_verify" content="pmrgi33nmfuw4ir2ej2g65lunfqw6ltdn5wselbcm52wszbchirdqyztge3tenrsgq3dknjume2tayrvmqytemlfmiydimddgu4gcnzcfqrhi2lnmvjwc5tfei5dcnbwhazdcobuhe2dqobrpu">-->

        <meta name="keywords" content="今日头条，头条，头条网，头条新闻，今日头条官网">
        <meta name="description" content="《今日头条》(www.toutiao.com)是一款基于数据挖掘的推荐引擎产品，它为用户推荐有价值的、个性化的信息，提供连接人与信息的新型服务，是国内移动互联网领域成长最快的产品服务之一。">
        <link rel="alternate" media="only screen and (max-width: 640px)" href="//m.toutiao.com/">
        <link rel="shortcut icon" href="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/favicon_8e9c9c7.ico" type="image/x-icon">
        <link rel="stylesheet" href="//s3.pstatp.com/toutiao/player/dist/pc_vue2.css" media="screen" title="no title">
        <!--[if lt IE 9]>
      <p>您的浏览器版本过低，请<a href="http://browsehappy.com/">升级浏览器</a></p>
    <![endif]-->
        <script src="//s3.pstatp.com/toutiao/monitor/sdk/slardar.js?ver=20171221_1" crossorigin="anonymous"></script>
        <script>window.Slardar && window.Slardar.install({
                sampleRate: 1,
                bid: 'toutiao_pc',
                pid: 'index_new',
                ignoreAjax: [/\/action_log\//, /\/stream\/widget\//],
                ignoreStatic: [/\.tanx\.com\//, /\.alicdn\.com\//, /\.mediav\.com/]
            });</script>
        <link rel="stylesheet" href="/static/p/css/index.css">
        <script>!function (e) {
                function t(a) {
                    if (c[a])
                        return c[a].exports;
                    var o = c[a] = {exports: {}, id: a, loaded: !1};
                    return e[a].call(o.exports, o, o.exports, t), o.loaded = !0, o.exports
                }
                var a = window.webpackJsonp;
                window.webpackJsonp = function (r, n) {
                    for (var p, s, l = 0, i = []; l < r.length; l++)
                        s = r[l], o[s] && i.push.apply(i, o[s]), o[s] = 0;
                    for (p in n)
                        Object.prototype.hasOwnProperty.call(n, p) && (e[p] = n[p]);
                    for (a && a(r, n); i.length; )
                        i.shift().call(null, t);
                    if (n[0])
                        return c[0] = 0, t(0)
                };
                var c = {}, o = {0: 0};
                t.e = function (e, a) {
                    if (0 === o[e])
                        return a.call(null, t);
                    if (void 0 !== o[e])
                        o[e].push(a);
                    else {
                        o[e] = [a];
                        var c = document.getElementsByTagName("head")[0], r = document.createElement("script");
                        r.type = "text/javascript", r.charset = "utf-8", r.async = !0, r.src = t.p + "static/js/" + e + "." + {1: "4ad781596619323e2c61", 2: "e7ef03bac8738110d9ce", 3: "6eb494dc29ec50225b50", 4: "12e7cb551b4acdc20e40"}[e] + ".js", c.appendChild(r)
                    }
                }, t.m = e, t.c = c, t.p = "/toutiao/", t.p = "//s3.pstatp.com/toutiao/"
            }([]);</script>
        <style type="text/css">
            @keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } } 
            .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; }
            .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }
            .resize-triggers > div { background: #eee; overflow: auto; }
            .contract-trigger:before { width: 200%; height: 200%; }
        </style>
        <script async="" src="https://show-g.mediav.com/s?jsonp=_qihu_jsonpFun_&amp;type=1&amp;of=4&amp;newf=1&amp;showid=P5AcFE&amp;ref=toutiao.com&amp;uid=15440214374452674181990009996526&amp;scheme=https&amp;impct=5&amp;time=ts_1544021437445"></script>
        <style id="59c58cb">
            .imga_wrapper{position:relative;display:inline-block;}
            .imga_flag{display: inline-block;position: absolute;bottom: 8px;left: 8px;border: 1px solid #fff;color: #fff;font-size: 12px;line-height: 12px;height: 12px;padding: 1px 2px;text-align: center;}
        </style>
        <style id="20a8112">
            .right-iframe-img{margin-bottom:16px; padding: 20px; background-color: #f4f5f6; position: relative; z-index: 1;}
        </style>
        <style id="51e2d8d">
            #imagindexhover{margin-top: -10px; padding: 0 20px; position: relative; z-index: 1;} 
            #imagindexhover > ins{position: relative!important}
        </style>
        <style id="94d886b">
            .right-iframe-img{margin-bottom:16px; padding: 20px; background-color: #f4f5f6; position: relative; z-index: 1;}
        </style>
        <style id="aa98dd1">
            .right-iframe-img{margin-bottom:16px; padding: 20px; background-color: #f4f5f6; position: relative; z-index: 1;}
        </style>
    </head>

    <body> 
        <div>
            <div class="art-header">
                <div class="topbar">
                    <div class="bui-left clearfix">
                        <!--                        <a href="//app.toutiao.com/news_article/" target="_blank" ga_event="mh_nav_others"
                                                   class="download-app tb-link">
                                                    下载APP
                                                </a>-->
                    </div>
                    <!---->
                    <div class="bui-right">
                        <ul class="user-nav-list clearfix">
                            <li>
                                <a href="//www.toutiao.com/complain/" ga_event="mh_nav_complain" target="blank"
                                   class="tb-link">
                                    侵权投诉
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!---->
            </div>
            <div class="bui-box container">
                <div ga_event="channel_click" class="bui-left index-channel">
                    <div>
                        <div ga_event="left-channel-click" class="channel channel-fixed">
                            <a href="/" class="logo">
                                <img src="//s3.pstatp.com/toutiao/static/img/logo.201f80d.png" alt="今日头条"
                                     style="width: 108px; height: 27px;">
                            </a>
                            <!---->
                            <ul>
                                <li>
                                    <a href="/" target="_self" ga_event="channel_recommand_click" class="channel-item active">
                                        <span>
                                            推荐
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/ch/news_hot/" target="_self" ga_event="channel_hot_click" class="channel-item">
                                        <span>
                                            热点
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/ch/news_image/" target="_blank" ga_event="channel_image_click"
                                       class="channel-item">
                                        <span>
                                            图片
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/ch/news_tech/" target="_self" ga_event="channel_technology_click"
                                       class="channel-item">
                                        <span>
                                            科技
                                        </span>
                                    </a>
                                </li>

                                <!--                                <li class="channel-more">
                                                                    <a href="javascript:void(0);" class="channel-item">
                                                                        <span>
                                                                            更多
                                                                        </span>
                                                                    </a>
                                                                    <div class="channel-more-layer">
                                                                        <ul class="bui-box">
                                                                            <li class="bui-left">
                                                                                <a href="/ch/news_military/" target="_self" ga_event="channel_military_click"
                                                                                   class="channel-item">
                                                                                    <span>
                                                                                        军事
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>-->

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bui-left index-content">

                    <div class="bui-box slide">
                        <ul class="slide-list bui-left">
                            <li ga_event="focus_list_click" class="slide-item">
                                <a href="/group/6630962928990306824/" target="_blank">
                                    <img src="//p3.pstatp.com/origin/daf100051ea174c25569" alt="">
                                    <p class="title">
                                        特朗普携夫人瞻仰老布什灵柩 敬礼后离开未致悼词
                                    </p>
                                </a>
                            </li>
                            <li ga_event="focus_list_click" class="slide-item">
                                <a href="/group/6630965758039949828/" target="_blank">
                                    <img src="//p9.pstatp.com/origin/da9100043906572871a4" alt="">
                                    <p class="title">
                                        燃到爆！女特警特训表现不输男特警，获全体男队友点赞
                                    </p>
                                </a>
                            </li>
                            <li ga_event="focus_list_click" class="slide-item">
                                <a href="/group/6630920080609772045/" target="_blank">
                                    <img src="//p99.pstatp.com/origin/dad60005a7d3ff7b65ee" alt="">
                                    <p class="title">
                                        追周杰伦追到自己成了明星，这个女孩子的操作很可以
                                    </p>
                                </a>
                            </li>
                            <li ga_event="focus_list_click" class="slide-item">
                                <a href="/group/6630964679717945863/" target="_blank">
                                    <img src="//p99.pstatp.com/origin/daaa0007e2947aa026e6" alt="">
                                    <p class="title">
                                        梅罗时代被终结 多图回顾绝代双骄统治金球奖这十年
                                    </p>
                                </a>
                            </li>
                            <li ga_event="focus_list_click" class="slide-item">
                                <a href="/group/6630767753898754563/" target="_blank">
                                    <img src="//p9.pstatp.com/origin/da9600060a8875d47c63" alt="">
                                    <p class="title">
                                        美空军在叙利亚紧急出手，猛烈空袭俄叙联军部队
                                    </p>
                                </a>
                            </li>
                            <li ga_event="focus_list_click" class="slide-item slide-item-active">
                                <a href="/group/6630595114504815118/" target="_blank">
                                    <img src="//p3.pstatp.com/origin/dac70007a28408652ebc" alt="">
                                    <p class="title">
                                        伊一的衣服又遭吐槽！网友：“得罪了造型师？”
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <ul class="slide-tab bui-right">
                            <li class="slide-tab-item">
                                要闻
                            </li>
                            <li class="slide-tab-item">
                                社会
                            </li>
                            <li class="slide-tab-item">
                                娱乐
                            </li>
                            <li class="slide-tab-item">
                                体育
                            </li>
                            <li class="slide-tab-item">
                                军事
                            </li>
                            <li class="slide-tab-item slide-tab-item-active">
                                明星
                            </li>
                        </ul>
                    </div>
                    <!---->
                    <div class="feed-infinite-wrapper">
                        <div class="loading ball-pulse" style="display: none;">
                            <div>
                            </div>
                            <div>
                            </div>
                            <div>
                            </div>
                            <span>
                                推荐中⋅⋅⋅
                            </span>
                        </div>
                        <div>
                            <div class="msg-alert msg-alert-hidden">
                                <span>
                                    为您推荐了10篇文章
                                </span>
                                <!---->
                            </div>
                            <div class="msgAlert-place" style="display: none;">
                                <div ga_event="refresh_float_click" class="msg-alert">
                                    <span>
                                        您有未读新闻，点击查看
                                    </span>
                                    <i class="bui-icon icon-close_small" style="font-size: 15px; color: rgb(255, 255, 255);">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <ul id="pageletListContent" infinite-scroll-disabled="loading" infinite-scroll-immediate-check="containerCheck"
                            infinite-scroll-immediate-check-count="containerCheckCount" infinite-scroll-distance="80">
                            <input type="hidden" id="next_page" value="{{$next_page}}">
                            <input type="hidden" id="page_size" value="{{$page_size}}">
                            <input type="hidden" id="channel" value="{{$channel}}">
                            {{foreach $article_list as $key=>$row}}
                            {{assign var=a_url value="/a/"$row['aid']}}
                            {{assign var=u_url value="/u/"$row['uid']}}

                            <li class="">
                                {{if empty($row['images']) && empty($row['image'])}}
                                <div class="no-mode">
                                    {{include file="block/list_title.html"}}
                                    {{include file="block/list_footer.html"}}
                                </div>
                                {{elseif empty($row['images']) && !empty($row['image'])}}
                                <div class="bui-box single-mode">
                                    {{include file="block/list_img.html"}}
                                    <div class="single-mode-rbox">
                                        <div class="single-mode-rbox-inner">
                                            {{include file="block/list_title.html"}}
                                            {{include file="block/list_footer.html"}}
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                <div class="more-mode">
                                    {{include file="block/list_title.html"}}
                                    {{include file="block/list_imgs.html"}}
                                    {{include file="block/list_footer.html"}}
                                </div>
                                {{/if}}

                            </li>

                            {{/foreach}}



                            <li class="">
                                <div ga_event="refresh_item_click" class="refresh-mode">
                                    <span>
                                        刚刚看到这里
                                    </span>
                                    &nbsp;点击刷新&nbsp;
                                    <i class="bui-icon icon-refresh" style="font-size: 12px; color: rgb(42, 144, 215);">
                                    </i>
                                </div>
                            </li>

                            <li class="J_qihu_ad" ad_qihu_id="0" ad_show="0">
                                <div ga_event="ad_item_click" class="more-mode">
                                    <div ga_event="ad_title_click" class="title-box">
                                        <a href="https://max-l.mediav.com/rtb?type=3&amp;d=107&amp;b=12c2d04ef5f49002&amp;p=1696178&amp;l=291558&amp;s=1&amp;k=UIjryQAAAAA=&amp;i=UxUV2oMG69c7&amp;v=69821665104342211040018&amp;x=__OFFSET_X__&amp;y=__OFFSET_Y__&amp;st=__EVENT_TIME_START__&amp;et=__EVENT_TIME_END__&amp;tc=99491a&amp;turl=https%3A%2F%2Faw.kejet.net%2Fc%3F%26v%3D1544021461%26d%3DdWpc%26dch%3D0100%26c%3DWq%26m%3Da1uc%26n%3D32%26ip%3D111.63.14.100%26f%3Dtoutiao.com%26s%3D180x100%26ft%3D7%26y%3D32S-1696178%26b%3D12%26id%3D32_12c2d04ef5f49002%26g%3Dhttp%253A%252F%252Ftg.yxdou.com%252Ftgws11497_i0kd.htm%253Fwmsid%253D%2525ST%2525%2526yc%253D%2525YC%2525"
                                           target="_blank" class="link">
                                            传奇变态版！没有vip！开局就是六神装！打架不要太爽！
                                        </a>
                                    </div>
                                    <div ga_event="ad_img_click" class="bui-box img-list">
                                        <a href="https://max-l.mediav.com/rtb?type=3&amp;d=107&amp;b=12c2d04ef5f49002&amp;p=1696178&amp;l=291558&amp;s=1&amp;k=UIjryQAAAAA=&amp;i=UxUV2oMG69c7&amp;v=69821665104342211040018&amp;x=__OFFSET_X__&amp;y=__OFFSET_Y__&amp;st=__EVENT_TIME_START__&amp;et=__EVENT_TIME_END__&amp;tc=99491a&amp;turl=https%3A%2F%2Faw.kejet.net%2Fc%3F%26v%3D1544021461%26d%3DdWpc%26dch%3D0100%26c%3DWq%26m%3Da1uc%26n%3D32%26ip%3D111.63.14.100%26f%3Dtoutiao.com%26s%3D180x100%26ft%3D7%26y%3D32S-1696178%26b%3D12%26id%3D32_12c2d04ef5f49002%26g%3Dhttp%253A%252F%252Ftg.yxdou.com%252Ftgws11497_i0kd.htm%253Fwmsid%253D%2525ST%2525%2526yc%253D%2525YC%2525"
                                           target="_blank" class="img-wrap img-item">
                                            <img class="lazy-load-img" src="https://m.kejet.net/ms/18a23/f87d1263c.gif"
                                                 lazy="loaded">
                                        </a>
                                        <a href="https://max-l.mediav.com/rtb?type=3&amp;d=107&amp;b=12c2d04ef5f49002&amp;p=1696178&amp;l=291558&amp;s=1&amp;k=UIjryQAAAAA=&amp;i=UxUV2oMG69c7&amp;v=69821665104342211040018&amp;x=__OFFSET_X__&amp;y=__OFFSET_Y__&amp;st=__EVENT_TIME_START__&amp;et=__EVENT_TIME_END__&amp;tc=99491a&amp;turl=https%3A%2F%2Faw.kejet.net%2Fc%3F%26v%3D1544021461%26d%3DdWpc%26dch%3D0100%26c%3DWq%26m%3Da1uc%26n%3D32%26ip%3D111.63.14.100%26f%3Dtoutiao.com%26s%3D180x100%26ft%3D7%26y%3D32S-1696178%26b%3D12%26id%3D32_12c2d04ef5f49002%26g%3Dhttp%253A%252F%252Ftg.yxdou.com%252Ftgws11497_i0kd.htm%253Fwmsid%253D%2525ST%2525%2526yc%253D%2525YC%2525"
                                           target="_blank" class="img-wrap img-item">
                                            <img class="lazy-load-img" src="https://m.kejet.net/ms/18a23/f87d128ef.gif"
                                                 lazy="loaded">
                                        </a>
                                        <a href="https://max-l.mediav.com/rtb?type=3&amp;d=107&amp;b=12c2d04ef5f49002&amp;p=1696178&amp;l=291558&amp;s=1&amp;k=UIjryQAAAAA=&amp;i=UxUV2oMG69c7&amp;v=69821665104342211040018&amp;x=__OFFSET_X__&amp;y=__OFFSET_Y__&amp;st=__EVENT_TIME_START__&amp;et=__EVENT_TIME_END__&amp;tc=99491a&amp;turl=https%3A%2F%2Faw.kejet.net%2Fc%3F%26v%3D1544021461%26d%3DdWpc%26dch%3D0100%26c%3DWq%26m%3Da1uc%26n%3D32%26ip%3D111.63.14.100%26f%3Dtoutiao.com%26s%3D180x100%26ft%3D7%26y%3D32S-1696178%26b%3D12%26id%3D32_12c2d04ef5f49002%26g%3Dhttp%253A%252F%252Ftg.yxdou.com%252Ftgws11497_i0kd.htm%253Fwmsid%253D%2525ST%2525%2526yc%253D%2525YC%2525"
                                           target="_blank" class="img-wrap img-item">
                                            <img class="lazy-load-img" src="https://m.kejet.net/ms/18a23/f87d12adb.gif"
                                                 lazy="loaded">
                                        </a>
                                        <a href="https://max-l.mediav.com/rtb?type=3&amp;d=107&amp;b=12c2d04ef5f49002&amp;p=1696178&amp;l=291558&amp;s=1&amp;k=UIjryQAAAAA=&amp;i=UxUV2oMG69c7&amp;v=69821665104342211040018&amp;x=__OFFSET_X__&amp;y=__OFFSET_Y__&amp;st=__EVENT_TIME_START__&amp;et=__EVENT_TIME_END__&amp;tc=99491a&amp;turl=https%3A%2F%2Faw.kejet.net%2Fc%3F%26v%3D1544021461%26d%3DdWpc%26dch%3D0100%26c%3DWq%26m%3Da1uc%26n%3D32%26ip%3D111.63.14.100%26f%3Dtoutiao.com%26s%3D180x100%26ft%3D7%26y%3D32S-1696178%26b%3D12%26id%3D32_12c2d04ef5f49002%26g%3Dhttp%253A%252F%252Ftg.yxdou.com%252Ftgws11497_i0kd.htm%253Fwmsid%253D%2525ST%2525%2526yc%253D%2525YC%2525"
                                           target="_blank" class="img-wrap img-item">
                                            <img class="lazy-load-img" src="https://m.kejet.net/ms/18a23/f87d12d7b.gif"
                                                 lazy="loaded">
                                        </a>
                                        <!---->
                                        <!---->
                                    </div>
                                    <div class="bui-box footer-bar">
                                        <div class="bui-left footer-bar-left">
                                            <!---->
                                            <a href="/search/?keyword=新数网络" ga_event="ad_avatar_click" class="footer-bar-action media-avatar avatar-style-3">
                                                新
                                            </a>
                                            <a href="/search/?keyword=新数网络" target="_blank" ga_event="ad_name_click"
                                               class="footer-bar-action source">
                                                &nbsp;新数网络&nbsp;⋅
                                            </a>
                                            <span class="footer-bar-action">
                                                &nbsp;刚刚
                                            </span>
                                            <!---->
                                            <!---->
                                            <a target="_blank" href="https://ad.toutiao.com/promotion/?source2=pcfeedadtag"
                                               class="footer-bar-action ad">
                                                广告
                                            </a>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="loading ball-pulse" style="display: none;">
                            <div>
                            </div>
                            <div>
                            </div>
                            <div>
                            </div>
                            <span>
                                加载中⋅⋅⋅
                            </span>
                        </div>
                    </div>
                </div>
                <div id="rightModule" class="bui-right index-right-bar">
                    <div ga_event="index_search_click" class="search-wrapper">
                        <div class="search-wrap">
                            <div class="tt-autocomplete">
                                <div class="tt-input tt-input-group tt-input-group--append">
                                    <!---->
                                    <!---->
                                    <input type="text" placeholder="请输入要搜索的内容" autocomplete="off" class="tt-input__inner">
                                    <!---->
                                    <div class="tt-input-group__append">
                                        <button type="button" class="tt-button tt-button--default">
                                            <!---->
                                            <!---->
                                            <span>
                                                搜索
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="tt-autocomplete-suggestion" style="display: none;">
                                    <div class="tt-scrollbar">
                                        <div class="tt-autocomplete-suggestion__wrap tt-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                            <ul class="tt-scrollbar__view tt-autocomplete-suggestion__list" style="position: relative;">
                                                <div class="resize-triggers">
                                                    <div class="expand-trigger">
                                                        <div style="width: 1px; height: 1px;">
                                                        </div>
                                                    </div>
                                                    <div class="contract-trigger">
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="tt-scrollbar__bar is-horizontal">
                                            <div class="tt-scrollbar__thumb" style="transform: translateX(0%);">
                                            </div>
                                        </div>
                                        <div class="tt-scrollbar__bar is-vertical">
                                            <div class="tt-scrollbar__thumb" style="transform: translateY(0%);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div data-v-73e9c86a="" class="outer">
                            <div data-v-4a7e2734="" data-v-73e9c86a="" class="login inner">
                                <p data-v-4a7e2734="" class="login-msg">
                                    登录后可以保存您的浏览喜好、评论、收藏，并与APP同步更可以发布微头条
                                </p>
                                <a data-v-4a7e2734="" href="https://sso.toutiao.com">
                                    <button data-v-4a7e2734="" class="login-button">
                                        登录
                                    </button>
                                </a>
                                <ul data-v-4a7e2734="" class="third-login">
                                    <li data-v-4a7e2734="" data-pid="qzone_sns" class="sns qq">
                                        <span data-v-4a7e2734="">
                                            QQ
                                        </span>
                                    </li>
                                    <li data-v-4a7e2734="" data-pid="weixin" class="sns weixin">
                                        <span data-v-4a7e2734="">
                                            微信
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pane-module hot-words-pane">
                        <!---->
                        <div class="hot-words-title">
                            <img src="//s3.pstatp.com/toutiao/static/img/icon_tt_hot_search.4ccd360.png"
                                 alt="">
                            <div class="more-hot-words">
                                <a target="_blank" href="https://www.toutiao.com/2/wap/search/extra/hot_word_list/?from=toutiao_pc&amp;is_new_ui=1">
                                    更多
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAAAXNSR0IArs4c6QAAAVBJREFUSA3N1T1rg0AYB3A1FWkn6Vpa0EEHv0Rp5y4Fty75gl0K3RoCnaWTg4tCuncV61uf/+EVL55J7lzygNxL7vlx8R7VMM424jhe4dLdoInEIAj8tm236Pd9v87z/AN9lbCwuOu6BwJucdHwzff9RxUEaxnkOM4r9XdD8iW1yhiD0jT9sW37fgnG7tGwEyMMQ6+u6y2N74a5ktqnU+6ZACFZF5tAupgU0sFmIVXsIKSCseNHwlxkWVbsl4Zpmu+e572Mc47uiC/GaTZN80nVf4M5whrXda+SJKkxProjLOJBCO9O2pOgUW2x3ZDyS8/nmu8G6sWE3psYIUK1F0UhvCEO3qM5RPbIzEIqCP6EFFJFpJAOMoF0EQFagvxDURRdl2X5RRPCEctOB0myYAVZVdUz/aiNAGYFaVnWhsr/GxPUan2OkMti6QeSO+fT/gGK1tWL9Et9kQAAAABJRU5ErkJggg=="
                                         alt="" class="icon_more">
                                </a>
                            </div>
                        </div>
                        <ul class="module-content hot-search">
                            <li>
                                <a href="https://m.toutiao.com/search/?keyword=女副区长被家暴致死&amp;from=gs_hotlist"
                                   target="_blank">
                                    <i class="search-no search-no-1">
                                        1
                                    </i>
                                    <span class="search-text">
                                        女副区长被家暴致死
                                    </span>
                                </a>
                                <div class="suffix">
                                    <!---->
                                </div>
                            </li>
                            <li>
                                <a href="https://m.toutiao.com/search/?keyword=100元硬币来了&amp;from=gs_hotlist"
                                   target="_blank">
                                    <i class="search-no search-no-2">
                                        2
                                    </i>
                                    <span class="search-text">
                                        100元硬币来了
                                    </span>
                                </a>
                                <div class="suffix">
                                    <img src="//s3.pstatp.com/toutiao/static/img/icon_hot_search_t2.4c778ee.png"
                                         alt="">
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div name="home_right*top_1" class="right-top-1 right-iframe-img right-img"
                         ad-cursor="1" ad_name="h_300*250_TB_314" done="1" show="">

                    </div>
                    <div class="news-struct bui-box">
                        <div id="hotNewsWrap" class="bui-box">
                            <div class="pane-module">
                                <div class="module-head">
                                    24小时热闻
                                </div>
                                <ul ga_event="click_hot_news" class="module-content article-list">
                                    <li class="article-item">
                                        <a href="/group/6628742066178359815/" target="_blank" class="news-link">
                                            <div class="module-pic news-pic">
                                                <img src="//p1.pstatp.com/list/240x240/pgc-image/R8UGslhAEVPPNr" lazy="loaded">
                                            </div>
                                            <div class="news-inner">
                                                <p class="module-title">
                                                    国共两党领导人会晤是否提上日程？国台办回应
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="imagindexhover" name="home_right*bottom_1" class="imagindexhover right-img"
                                 style="display: none;" ad-cursor="1" ad_name="h_300*250_TB_340" done="1"
                                 show="">

                            </div>
                        </div>
                    </div>
                    <div name="home_right*top_2" class="right-iframe-img right-img" ad-cursor="1"
                         ad_name="h_300*250_TB_454" done="1" show="">

                    </div>
                    <!---->
                    <div name="home_right*top_3" class="right-iframe-img right-img" ad-cursor="1"
                         ad_name="h_300*250_TB_483" done="1" show="">

                    </div>
                    <div class="pane-module">
                        <div class="module-head">
                            精彩图片
                        </div>
                        <ul ga_event="click_pictures_recommend" class="module-content bui-box picture-list">
                            <li class="bui-left picture-item">
                                <a href="/group/6630698884962189832/" target="_blank" class="link">
                                    <div class="module-pic picture-img">
                                        <img alt="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K"
                                             lazy="loading">
                                        <i class="module-tag">
                                            <span>
                                                27图
                                            </span>
                                        </i>
                                    </div>
                                    <p>
                                        我大三嫁给大18岁男友，休学生子，7年过去了，现在……
                                    </p>
                                </a>
                            </li>
                            <li class="bui-left picture-item">
                                <a href="/group/6631047105626505732/" target="_blank" class="link">
                                    <div class="module-pic picture-img">
                                        <img alt="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K"
                                             lazy="loading">
                                        <i class="module-tag">
                                            <span>
                                                5图
                                            </span>
                                        </i>
                                    </div>
                                    <p>
                                        关之琳中毒后，背上流汗的样子，定格一代女神的美，难以超越！
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="pane-module">
                        <div class="module-head">
                            更多
                        </div>
                        <ul class="more-items-content">
                            <li class="item">
                                <a href="/about/">
                                    关于头条
                                </a>
                            </li>

                            <li class="item">
                                <a href="http://renzheng.toutiao.com/guide?platform=%27PC%27&amp;source=%27www.toutiao.com%27">
                                    企业认证
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pane-module">
                        <div class="module-head">
                            友情链接
                        </div>
                        <ul class="friend-links-content">
                            <li class="item">
                                <a target="_blank" href="http://www.gmw.cn/">
                                    光明网
                                </a>
                            </li>
                            <li class="item">
                                <a target="_blank" href="http://www.cnr.cn/">
                                    央广网
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="company">
                        <p class="J-company-name">
                            © 2018 今日头条
                        </p>
                        <a href="http://www.12377.cn/" target="_blank" ga_event="click_about">
                            中国互联网举报中心
                        </a>
                        <a href="http://www.miibeian.gov.cn/" target="_blank" ga_event="click_about">
                            京ICP证140141号
                        </a>
                        <div>
                            <a href="http://www.miibeian.gov.cn/" target="_blank" ga_event="click_about">
                                京ICP备12025439号-3
                            </a>
                            <a href="/license/" target="_blank" class="icp">
                                网络文化经营许可证
                            </a>
                        </div>
                        <p>
                            京-非经营性-2016-0081
                        </p>
                        <p>
                            互联网药品信息服务资格证书
                        </p>
                        <a href="/a3642705768/" target="_blank">
                            跟帖评论自律管理承诺书
                        </a>
                        <span>
                            违法和不良信息举报：010-58341833
                        </span>
                        <span>
                            公司名称：北京字节跳动科技有限公司
                        </span>
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002002023"
                           target="_blank" ga_event="click_about">
                            <img src="//s3.pstatp.com/toutiao/static/img/gongan.d0289dc.png">
                            &nbsp;京公网安备 11000002002023号
                        </a>
                    </div>
                </div>
            </div>
            <ul data-v-756beef7="" class="toolbar">
                <!---->
                <li data-v-756beef7="" class="tool-item report-item">
                    <a data-v-756beef7="" href="http://report.12377.cn:13225/toreportinputNormal_anis.do"
                       target="_blank">
                        <img data-v-756beef7="" src="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/other/report_logo_15cc24e.png">
                        <span data-v-756beef7="">
                            网上有害信息举报
                        </span>
                    </a>
                </li>
                <li data-v-756beef7="" class="tool-item">
                    <a data-v-756beef7="" href="javascript:void(0);">
                        <i data-v-756beef7="" class="bui-icon icon-refresh" style="font-size: 16px; color: rgb(255, 255, 255);">
                        </i>
                    </a>
                </li>
                <li data-v-756beef7="" class="tool-item">
                    <a data-v-756beef7="" href="javascript:void(0);">
                        <i data-v-756beef7="" class="bui-icon icon-arrow_up_big" style="font-size: 16px; color: rgb(255, 255, 255);">
                        </i>
                    </a>
                </li>
            </ul>
        </div>

    </body>

</html>