<!DOCTYPE html>
<html>
    <head>
        {{include file="./block/header_meta.html"}}
        
        <link rel="stylesheet" href="/static/css/common/swiper-4.4.5.css">
        <link rel="stylesheet" href="/static/p/css/index.css">
        

        <style type="text/css">
            @keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } } 
            .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; }
            .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }
            .resize-triggers > div { background: #eee; overflow: auto; }
            .contract-trigger:before { width: 200%; height: 200%; }
        </style>

    </head>

    <body> 
        <div>
            <div class="art-header">
                
                {{include file="./block/top_bar.html"}}
                <!---->
            </div>
            <div class="bui-box container">
                {{include file="./block/index_channel.html"}}

                <div class="bui-left index-content">
                    {{include file="./block/index_slide.html"}}

                    <div class="feed-infinite-wrapper" id="pageletListContent">
                        {{*
                        <div class="loading ball-pulse" style="display: none;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <span>推荐中⋅⋅⋅</span>
                        </div>
                        <div>
                            <div class="msg-alert msg-alert-hidden">
                                <span>为您推荐了10篇文章</span>
                            </div>
                            <div class="msgAlert-place" style="display: none;">
                                <div class="msg-alert">
                                    <span>您有未读新闻，点击查看</span>
                                    <i class="bui-icon icon-close_small" style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                </div>
                            </div>
                        </div>
                        *}}
                        <ul infinite-scroll-disabled="loading" infinite-scroll-immediate-check="containerCheck"
                            infinite-scroll-immediate-check-count="containerCheckCount" infinite-scroll-distance="80">
                            <input type="hidden" id="next_page" value="{{$next_page}}">
                            <input type="hidden" id="page_size" value="{{$page_size}}">
                            <input type="hidden" id="channel" value="{{$channel}}">
                            {{foreach $article_list as $key=>$row}}
                            {{assign var=imgs_max value=4}}

                            <li class="">
                                {{if empty($row['images']) && empty($row['image'])}}
                                <div class="no-mode">
                                    {{include file="./block/list_title.html"}}
                                    {{include file="./block/list_footer.html"}}
                                </div>
                                {{elseif empty($row['images']) && !empty($row['image'])}}
                                <div class="bui-box single-mode">
                                    {{include file="./block/list_img.html"}}
                                    <div class="single-mode-rbox">
                                        <div class="single-mode-rbox-inner">
                                            {{include file="./block/list_title.html"}}
                                            {{include file="./block/list_footer.html"}}
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                <div class="more-mode">
                                    {{include file="./block/list_title.html"}}
                                    {{include file="./block/list_imgs.html"}}
                                    {{include file="./block/list_footer.html"}}
                                </div>
                                {{/if}}

                            </li>
                            {{/foreach}}

                            {{*刷新提示*}}
                            {{*
                            <li class="">
                                <div ga_event="refresh_item_click" class="refresh-mode">
                                    <span>
                                        刚刚看到这里
                                    </span>
                                    &nbsp;点击刷新&nbsp;
                                    <i class="bui-icon icon-refresh" style="font-size: 12px; color: rgb(42, 144, 215);">
                                    </i>
                                </div>
                            </li>
                            *}}
                        </ul>
                        {{*
                        <div class="loading ball-pulse" style="display: none;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <span>加载中⋅⋅⋅</span>
                        </div>
                        *}}
                    </div>
                </div>
                <div id="rightModule" class="bui-right index-right-bar">
                    <div class="search-wrapper">
                        <div class="search-wrap">
                            <div class="tt-autocomplete">
                                <div class="tt-input tt-input-group tt-input-group--append">
                                    <input type="text" id="input_q" placeholder="请输入要搜索的内容" autocomplete="off" class="tt-input__inner">
                                    <div class="tt-input-group__append" id="search_btn">
                                        <button type="button" class="tt-button tt-button--default">
                                            <span>搜索</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="tt-autocomplete-suggestion" style="display: none;">
                                    <div class="tt-scrollbar">
                                        <div class="tt-autocomplete-suggestion__wrap tt-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                                            <ul class="tt-scrollbar__view tt-autocomplete-suggestion__list" style="position: relative;">
                                                <div class="resize-triggers">
                                                    <div class="expand-trigger">
                                                        <div style="width: 1px; height: 1px;">
                                                        </div>
                                                    </div>
                                                    <div class="contract-trigger">
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="tt-scrollbar__bar is-horizontal">
                                            <div class="tt-scrollbar__thumb" style="transform: translateX(0%);">
                                            </div>
                                        </div>
                                        <div class="tt-scrollbar__bar is-vertical">
                                            <div class="tt-scrollbar__thumb" style="transform: translateY(0%);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div data-v-73e9c86a="" class="outer">
                            <div data-v-4a7e2734="" data-v-73e9c86a="" class="login inner">
                                <p data-v-4a7e2734="" class="login-msg">
                                    登录后可以保存您的浏览喜好、评论、收藏，并与APP同步更可以发布微头条
                                </p>
                                <a data-v-4a7e2734="" href="https://sso.toutiao.com">
                                    <button data-v-4a7e2734="" class="login-button">
                                        登录
                                    </button>
                                </a>
                                <ul data-v-4a7e2734="" class="third-login">
                                    <li data-v-4a7e2734="" data-pid="qzone_sns" class="sns qq">
                                        <span data-v-4a7e2734="">
                                            QQ
                                        </span>
                                    </li>
                                    <li data-v-4a7e2734="" data-pid="weixin" class="sns weixin">
                                        <span data-v-4a7e2734="">
                                            微信
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{include file="./block/index_hot_search.html"}}    
                    {{include file="./block/index_right_adv.html"}}
                    {{include file="./block/index_hot_news.html"}}
                    {{include file="./block/right_pic.html"}}
                    {{include file="./block/aboutus.html"}}
                    {{include file="./block/friend_links.html"}}
                    {{include file="./block/index_about.html"}}
                </div>
            </div>
            {{include file="./block/float_toolbar.html"}}

        </div>

    </body>

</html>
<script src="/static/js/common/jquery-3.2.1.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/swiper-4.4.5.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/jquery.cookie.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>

<script src="/static/p/js/list.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/common.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/list_dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
