<!DOCTYPE html>
<html>
    <head>
        {{include file="./block/header_html.html"}}
        <link rel="stylesheet" href="/static/p/css/search_layout.css">
        <link rel="stylesheet" href="/static/p/css/search.css">
    </head>
    <body style="min-width: 768px; overflow-x: hidden;" libsign2018625="1"
          mainsign2018827="1" firstsign2018827="1" rlt="1">

        <div class="y-wrap">
            <div id="header">
                <div riot-tag="wtopbar" style="height: 34px; background: #222;">
                    <div class="y-box wtopbar">
                        <div class="y-left y-nav-topbar" riot-tag="nav">
                            <div class="nav">
                                <ul class="y-box nav-list">
                                    {{foreach $channels as $key=>$val}}
                                    <li class="y-left nav-item">
                                        <a target="_self" class="nav-link " href="{{$val.url}}">{{$val.name}}</a>
                                    </li>
                                    {{/foreach}}
                                </ul>
                            </div>
                        </div>
                        <ul class="y-right">
                            <li class="tb-item">
                                <a class="tb-link" href="/aboutus">关于我们</a>
                            </li>
                        </ul>
                        <div id="J_userFeedback"></div>
                    </div>
                </div>
            </div>
            <div riot-tag="login"></div>
            <div id="toast"></div>
            <div class="y-box container">
                <div class="y-left index-left">
                    <a class="logo-wrap" href="/">
                        <img src="/static/images/web_logo.png" alt="">
                    </a>
                </div>
                <div class="y-left index-middle">
                    <div riot-tag="searchBar" class="searchBar">
                        <form name="searchForm" method="get" action="/search/">
                            <div class="y-box">
                                <div class="y-left search-content">
                                    <input type="text" name="q" value="{{$q}}" id="q" autocomplete="off" placeholder="搜你想搜的">
                                </div>
                                <div class="y-right">
                                    <button type="submit" class="search-btn">
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{*
                    <div riot-tag="tabBar" class="tabBar">
                        <ul class="y-box tab-list" ga_event="result_tab_click">
                            <li class="y-left tab-item active">
                                综合
                            </li>
                            <li class="y-left tab-item ">
                                视频
                            </li>
                            <li class="y-left tab-item ">
                                图集
                            </li>
                            <li class="y-left tab-item ">
                                用户
                            </li>
                            <!--riot placeholder-->
                        </ul>
                    </div>
                    *}}
                    <div riot-tag="feedBox" class="feedBox" id="pageletListContent">
                        <input type="hidden" id="next_page" value="{{$next_page}}">
                        <input type="hidden" id="page_size" value="{{$page_size}}">
                        <div name="feedBox">
                            {{if !empty($article_list)}}
                            <div class="sections">
                                {{foreach $article_list as $key=>$row}}
                                <div riot-tag="articleCard" class="articleCard">
                                    <div class="item">
                                    {{include file="./block/list_item_row.html"}}
                                    </div>
                                </div>
                                {{/foreach}}
                                <!--riot placeholder-->
                            </div>
                            {{else}}
                            <div class="no-feed"> 
                                <div class="empty-img"> 
                                    <img src="/static/images/empty_result.png" alt=""> 
                                </div> 
                                <p>在这个星球中找不到</p> 
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="y-right index-right"></div>
            </div>
            <div id="footer">
                {{include file="./block/footer.html"}}
            </div>
        </div>

    </body>

</html>
<script src="/static/js/common/jquery-3.2.1.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/jquery.cookie.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>

<script src="/static/p/js/search.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/common.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/list_dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>