<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <!--<link rel="dns-prefetch" href="//s3.pstatp.com/">-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <!--        <meta name="baidu-site-verification" content="T239HZAbh7">
                <meta name="360-site-verification" content="b96e1758dfc9156a410a4fb9520c5956">
                <meta name="360_ssp_verify" content="2ae4ad39552c45425bddb738efda3dbb">
                <meta name="google-site-verification" content="3PYTTW0s7IAfkReV8wAECfjIdKY-bQeSkVTyJNZpBKE">
                <meta name="shenma-site-verification" content="34c05607e2a9430ad4249ed48faaf7cb_1432711730">
                <meta name="baidu_union_verify" content="b88dd3920f970845bad8ad9f90d687f7">
                <meta name="domain_verify" content="pmrgi33nmfuw4ir2ej2g65lunfqw6ltdn5wselbcm52wszbchirdqyztge3tenrsgq3dknjume2tayrvmqytemlfmiydimddgu4gcnzcfqrhi2lnmvjwc5tfei5dcnbwhazdcobuhe2dqobrpu">-->
        <title>
            艺术家_头条搜索
        </title>
        <meta name="keywords" content="艺术家">
        <meta name="description" content="《今日头条》(www.toutiao.com)是一款基于数据挖掘的推荐引擎产品，它为用户推荐有价值的、个性化的信息，提供连接人与信息的新型服务，是国内移动互联网领域成长最快的产品服务之一。">
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" href="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/favicon_8e9c9c7.ico"
              type="image/x-icon">
        <link rel="stylesheet" href="/static/p/css/search_layout.css">
        <!--[if lt IE 9]>
                <script src="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/js/lib/es5-shim_110642e.js">
                </script>
        <![endif]-->
<!--        <script src="//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/js/common/lib_d2cb17c.js"
                crossorigin="anonymous">
        </script>-->
        <link rel="stylesheet" href="/static/p/css/search.css">
    </head>
    <body style="min-width: 768px; overflow-x: hidden;" libsign2018625="1"
          mainsign2018827="1" firstsign2018827="1" rlt="1">
        <a href="/articles_news_society/" style="display:none;"></a>
        <div class="y-wrap">
            <div id="header">
                <div riot-tag="wtopbar" style="height: 34px; background: #222;">
                    <div class="y-box wtopbar">
                        <div class="y-left y-nav-topbar" riot-tag="nav">
                            <div class="nav">
                                <ul class="y-box nav-list" ga_event="mh_channel">
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/" ga_event="mh_channel_recommend">
                                            推荐
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_hot/" ga_event="mh_channel_hot">
                                            热点
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/video/" ga_event="mh_channel_video">
                                            视频
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_image/" ga_event="mh_channel_image">
                                            图片
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_entertainment/" ga_event="mh_channel_entertainment">
                                            娱乐
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_tech/" ga_event="mh_channel_tech">
                                            科技
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_car/" ga_event="mh_channel_car">
                                            汽车
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_sports/" ga_event="mh_channel_sports">
                                            体育
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_finance/" ga_event="mh_channel_finance">
                                            财经
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_military/" ga_event="mh_channel_military">
                                            军事
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_world/" ga_event="mh_channel_world">
                                            国际
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_fashion/" ga_event="mh_channel_fashion">
                                            时尚
                                        </a>
                                    </li>
                                    <li class="y-left nav-item">
                                        <a target="_blank" class="nav-link " href="/ch/news_travel/" ga_event="mh_channel_travel">
                                            旅游
                                        </a>
                                    </li>
                                    <!--riot placeholder-->
                                    <li class="y-left nav-item nav-more">
                                        <a class="nav-link" href="javascript:;">
                                            更多
                                            <i class="y-icon icon-more">
                                            </i>
                                        </a>
                                        <div class="nav-layer">
                                            <ul class="nav-more-list">
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_discovery/" ga_event="mh_channel_discovery">
                                                        探索
                                                    </a>
                                                </li>
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_baby/" ga_event="mh_channel_baby">
                                                        育儿
                                                    </a>
                                                </li>
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_regimen/" ga_event="mh_channel_regimen">
                                                        养生
                                                    </a>
                                                </li>
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_essay/" ga_event="mh_channel_essay">
                                                        美文
                                                    </a>
                                                </li>
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_game/" ga_event="mh_channel_game">
                                                        游戏
                                                    </a>
                                                </li>
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_history/" ga_event="mh_channel_history">
                                                        历史
                                                    </a>
                                                </li>
                                                <li class="nav-more-item">
                                                    <a target="_blank" href="/ch/news_food/" ga_event="mh_channel_food">
                                                        美食
                                                    </a>
                                                </li>
                                                <!--riot placeholder-->
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="y-right">
                            <li class="tb-item userbox">
                                <div riot-tag="wuserbox" abtype="" pageid="">
                                    <div class="y-box wuserbox">
                                        <div class="nav-login">
                                            <a ga_event="nav_login" href="javascript:;">
                                                <span>
                                                    登录
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="tb-item">
                                <a class="tb-link" href="javascript:void(0)">
                                    反馈
                                </a>
                            </li>
                            <li class="tb-item">
                                <a class="tb-link" href="https://mp.toutiao.com/profile_introduction/infringement/complain"
                                   ga_event="mh_nav_complain" target="_blank">
                                    投诉侵权
                                </a>
                            </li>
                            <li class="tb-item more">
                                <a class="tb-link" href="/about/">
                                    头条产品
                                </a>
                                <div class="layer">
                                    <ul>
                                        <li>
                                            <a href="https://www.wukong.com" class="layer-item" ga_event="mh_nav_others"
                                               target="_blank">
                                                问答
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://mp.toutiao.com/" class="layer-item" target="_blank" ga_event="mh_nav_others">
                                                头条号
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tuchong.com/" class="layer-item" target="_blank" ga_event="mh_nav_others">
                                                图虫
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://stock.tuchong.com/?source=ttweb" target="_blank" ga_event="mh_nav_others"
                                               class="layer-item">
                                                正版图库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://ad.toutiao.com/promotion/?source2=pchometop" class="layer-item"
                                               target="_blank" ga_event="mh_nav_ad">
                                                广告投放
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div id="J_userFeedback">
                        </div>
                    </div>
                </div>
            </div>
            <div riot-tag="login">
            </div>
            <div id="toast">
            </div>
            <div class="y-box container">
                <div class="y-left index-left">
                    <a class="logo-wrap" href="//www.toutiao.com/">
                        <img src="//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/logo_201f80d.png"
                             alt="">
                    </a>
                </div>
                <div class="y-left index-middle">
                    <div riot-tag="searchBar" class="searchBar">
                        <form name="searchForm" method="get" action="/search/">
                            <div class="y-box">
                                <div class="y-left search-content">
                                    <input type="text" name="keyword" autocomplete="off" placeholder="搜你想搜的">
                                </div>
                                <div class="y-right">
                                    <button type="submit" class="search-btn">
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{*
                    <div riot-tag="tabBar" class="tabBar">
                        <ul class="y-box tab-list" ga_event="result_tab_click">
                            <li class="y-left tab-item active">
                                综合
                            </li>
                            <li class="y-left tab-item ">
                                视频
                            </li>
                            <li class="y-left tab-item ">
                                图集
                            </li>
                            <li class="y-left tab-item ">
                                用户
                            </li>
                            <!--riot placeholder-->
                        </ul>
                    </div>
                    *}}
                    <div riot-tag="feedBox" class="feedBox">
                        <div name="feedBox">
                            <div class="sections">
                                {{foreach $article_list as $key=>$row}}
                                <div id="J_section_0" riot-tag="articleCard" class="articleCard">
                                    <div class="item">
                                        <div class="item-inner  y-box">
                                            <div class="normal {{if !empty($row.image)}}rbox{{/if}}">
                                                <div class="rbox-inner">
                                                    <div class="title-box">
                                                        <a class="link title" target="_blank" href="{{$row.a_url}}">
                                                            <span class="J_title" riot-tag="raw">{{$row.title}}</span>
                                                        </a>
                                                    </div>
                                                    <div class="y-box footer">
                                                        <div class="y-left">
                                                            <div class="y-left">
                                                                <a class="lbtn media-avatar" target="_blank"
                                                                   href="{{$row.u_url}}">
                                                                    <img alt="" src="{{$row.upic}}">
                                                                </a>
                                                                <a class="lbtn source J_source" target="_blank"
                                                                   href="{{$row.u_url}}" riot-tag="raw">
                                                                    &nbsp;{{$row.uname}}&nbsp;
                                                                </a>
                                                            </div>
                                                            {{*
                                                            <a class="lbtn comment" target="_blank" href="/group/6587709843321127438//#comment_area">
                                                                ⋅&nbsp;9评论&nbsp;
                                                            </a>*}}
                                                            <span class="lbtn">
                                                                ⋅&nbsp;{{$row.create_time}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{if !empty($row.image)}}
                                            <div class="lbox">
                                                <a class="img-wrap" target="_blank" href="{{$row.a_url}}">
                                                    <img alt="" src="{{$row.image}}">
                                                </a>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/foreach}}

                                <!--riot placeholder-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="y-right index-right">
                </div>
            </div>
            <div id="footer">
                <div>
                    <span class="fitem">
                        © 2018 今日头条
                    </span>
                    <a class="fitem" href="http://www.12377.cn/" target="_blank">
                        中国互联网举报中心
                    </a>
                    <a class="fitem" href="http://www.miibeian.gov.cn/" target="_blank">
                        京ICP证140141号
                    </a>
                    <a class="fitem" href="http://www.miibeian.gov.cn/" target="_blank">
                        京ICP备12025439号-3
                    </a>
                    <a class="fitem" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002002023"
                       target="_blank" ga_event="click_about">
                        <img src="//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/gongan_d0289dc.png">
                        京公网安备 11000002002023号
                    </a>
                </div>
                <div>
                    <a class="fitem" href="/license/" target="_blank">
                        网络文化经营许可证
                    </a>
                    <a class="fitem" href="/a3642705768/" target="_blank">
                        跟帖评论自律管理承诺书
                    </a>
                    <span class="fitem">
                        违法和不良信息举报电话：010-58341833
                    </span>
                    <span class="fitem">
                        公司名称：北京字节跳动科技有限公司
                    </span>
                </div>
            </div>
        </div>
        
    </body>

</html>
<script src="/static/js/common/jquery-3.2.1.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/jquery.cookie.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>

<script src="/static/p/js/search.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/common/common.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
<script src="/static/js/list.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>