<html style="font-size:40px;" data-dpr="1">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        {{include file="common/header_meta.html"}}
        <link href="/static/css/common.css" rel="stylesheet">
        <link href="/static/css/article.css" rel="stylesheet">
        <link href="/static/css/list.css" rel="stylesheet">
    </head>

    <body class="page-detail detail--wap" style="font-size: 12px;" libsign2018625="1" mainsign2018625="1" firstsign2018827="1" rlt="1"> 

        <div id="main">
            <div class="weixin-container" style="padding-bottom: 140px;">
                {{include file="common/header_header.html"}}
                {{include file="common/header_menu.html"}}
                <article class="article padding-side">
                    <div class="article__header">
                        <h1 class="article__title">{{$article.title}}</h1>
                        <div class="article__author">
                            <span class="avatar">
                                <img src="https://p3.pstatp.com/thumb/11597/5732043328" class="avatar__image" style="transition: opacity 200ms ease; opacity: 1;">
                                <span class="avatar__mask"></span>       
                            </span>
                            <span class="author-name">{{$article.uname}}</span>
                            <span class="article-info">
                                <span class="new-style-test-article-publish-time">{{$article.create_time}}</span>
                                <span class="dot"></span>
                                <!--<span class="new-style-test-article-comment">3305评论</span>-->
                            </span>
                        </div>
                    </div>

                    <div class="article__content" style="height: 225.2px;">
                        <div>
                            {{$article.content}}                           
                        </div>
                    </div>
                    <div class="unfold-field unfold-field-download">
                        <div class="unflod-field__mask"></div>
                        <a href="javascript:void(0)" class="download-text">打开APP阅读全文</a>
                    </div>
                </article>
                <div style="min-height: 60px;">
                    <div class="recommendation-container">
                        
                        <div class="recommendation-item">
                            <h2 class="container__header">猜你喜欢</h2>
                            <input type="hidden" id="like_page" value="1">
                            <input type="hidden" id="like_aid" value="{{$like.aid}}">
                            <input type="hidden" id="like_q" value="{{$like.q}}">
                            <!--list-->
                            <content id="pageletListContent" class="feed-list-container">
                                <div class="list_content" data-pull-fresh="1">
                                    
                                </div>
                            </content>
                            
                        </div>
                        <div class="recommendation-item " id="detailAd2">
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-banner-container show-banner-undefined ">
                        <div class="slogan-wrapper">
                            <img src="//s1.pstatp.com/growth/mobile_detail/image/banner_toutiao_icon.AIJZbRFb.png" class="logo">
                            <div class="desc-wrapper">
                                <span class="slogan">今日头条</span>
                            </div>
                        </div>
                        <div class="open">打开</div>
                    </div>

                </div>

                {{include file="common/footer_comment.html"}}
            </div>
        </div>

        <script src="/static/js/common/zepto.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/zepto.cookie.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        
        <script src="/static/m/js/article.js?v=1" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/common.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/article.js?v=1" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        

    </body>
    <iframe id="__ToutiaoJSBridgeIframe_SetResult" style="display:none;"></iframe>
    <iframe id="__ToutiaoJSBridgeIframe" style="display:none;"></iframe>
</html>