<html style="font-size:80px;" data-dpr="2">
    <head>
        <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
        {{include file="common/header_meta.html"}}
        <link href="/static/css/common.css" rel="stylesheet">
        <link href="/static/css/list.css" rel="stylesheet">

        <style>
            .jsx-847651808{max-width:2048px;margin:0 auto;}
            .banner {height:356px;background:url(/static/images/usercenter.png);background-size:cover;overflow:hidden;}
            .banner img{display:block;width:140px;height:140px;margin:0 auto;border-radius:50%;margin-top:60px;}
            .banner .nick{font-size:32px;color:#fff;text-align:center;margin-top:20px;display:block;-webkit-text-decoration:none;text-decoration:none;}
        </style>
        <style id="__jsx-1405192524">
            .aidbg.jsx-1405192524{padding:40px;background:url(/static/images/authorbg.png);padding-top:128px;position:relative;top:-88px;margin-bottom:-88px;overflow:hidden;}
            .aidbg.jsx-1405192524 .icon.jsx-1405192524,.aidbg.jsx-1405192524 .icon.jsx-1405192524 div.jsx-1405192524{border-radius:50%;width:120px;height:120px;}
            .aidbg.jsx-1405192524 .icon.jsx-1405192524{float:left;position:relative;}
            .aidbg.jsx-1405192524 .icon.jsx-1405192524 div.jsx-1405192524{overflow:hidden;background-size:contain;}
            .aidbg.jsx-1405192524 .icon.jsx-1405192524 i.jsx-1405192524{display:block;background:url(//mat1.gtimg.com/www/mobi/2017/image/om_small_icon.svg);width:36px;height:36px;position:absolute;bottom:0;right:0;}
            .aidbg.jsx-1405192524 .info.jsx-1405192524{margin-left:156px;}
            .aidbg.jsx-1405192524 .info.jsx-1405192524 .head.jsx-1405192524{overflow:hidden;position:relative;}
            .aidbg.jsx-1405192524 .info.jsx-1405192524 .name.jsx-1405192524{font-size:32px;color:#3F4146;font-family:"PingFangSC-Medium";line-height:44px;margin-right:160px;display:block;float:left;}
            .aidbg.jsx-1405192524 .info.jsx-1405192524 .desc.jsx-1405192524{color:#707175;font-size:24px;line-height:2.66;margin-top:20px;font-family:"PingFangSC-Regular";text-align:left;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
            .aidbg.jsx-1405192524 .info.jsx-1405192524 a.jsx-1405192524{position:absolute;font-size:24px;color:#fff;padding:0 16px;-webkit-text-decoration:none;text-decoration:none;background:#498BF8;border-radius:11px;height:44px;line-height:44px;top:0;right:0;}
            .aidbg.jsx-1405192524 .info.jsx-1405192524 a.followed.jsx-1405192524{color:#C4C8D4;background:#E6ECF5;}
            .unfollow.jsx-1405192524 i.jsx-1405192524{background:url(//mat1.gtimg.com/www/mobi/2017/image/follow-icon.svg);width:20px;height:20px;display:inline-block;margin-right:6px;}</style>
    </head>

    <body class="android withHeader article utms-None utmm-None utmc-None list-page" style="font-size:12px;" rlt="1"> 
        {{include file="common/open_app.html"}}
        <div style="display:none">
            <input type="hidden" name="csrfmiddlewaretoken" value="0ee30dd9a7a58264cf660c33487801e1">
        </div>
        <div id="main">
            <div data-reactroot="" id="indexContainer" class="indexContainer withHeader ">
                {{include file="common/header_header.html"}}
                <div>
                    {{include file="common/header_menu.html"}}
                    {{if $uid}}
<!--                    <div class="banner">
                        <a href="javascript:;">
                            <img src="//thirdqq.qlogo.cn/g?b=sdk&amp;k=Z759agPGibhItyibbmia4YS0g&amp;s=100&amp;t=519" alt="乔木" class="jsx-847651808">
                        </a>
                        <a href="javascript:;" class="nick">乔木</a>
                    </div>-->

                    <div class="jsx-1405192524 aidbg">

                        <div class="jsx-1405192524 icon">
                            <div class="jsx-1405192524" style="background-image: url(http://inews.gtimg.com/newsapp_ls/0/87129268_100100/0);"></div>
                            <i class="jsx-1405192524"></i>
                        </div>

                        <div class="jsx-1405192524 info">
                            <div class="jsx-1405192524 head">
                                <span class="jsx-1405192524 name">澎湃新闻</span>
                                <a data-boss="c_unfollow" class="jsx-1405192524 followed">
                                    <i class="jsx-1405192524"></i>已关注</a>
                            </div>
                            <div class="jsx-1405192524 desc">有内涵的时政类新媒体</div>
                        </div>

                    </div>

                    {{/if}}
                    <div>
                        <!--list-->
                        <content id="pageletListContent" class="feed-list-container">
                            <div class="list_content" data-pull-fresh="1">
                                {{foreach $article_list as $key=>$row}}

                                {{assign var=sec_cls value='has_action'}}
                                {{assign var=h3_cls value='dotdot line3'}}
                                {{assign var=detail_cls value='item_detail'}}
                                {{if empty($row['images']) && !empty($row['image'])}}
                                {{$sec_cls='middle_mode has_action'}}
                                {{$h3_cls='dotdot line3 image-margin-right'}}
                                {{$detail_cls='item_detail desc'}}                            
                                {{/if}}

                                <section class="{{$sec_cls}}" data-item-id="{{$row.aid}}" data-format="0">
                                    <a href="/a/{{$row.aid}}" data-action-label="click_headline" data-tag="news_politics" class="article_link clearfix ">
                                        <div class="{{$detail_cls}}">
                                            <h3 class="{{$h3_cls}}">{{$row.title}}</h3>
                                            {{if !empty($row['images'])}}
                                            <div class="list_image">
                                                <ul class="clearfix">
                                                    {{foreach $row['images'] as $img_key=>$img_val}}
                                                    {{if $img_key<3}}
                                                    <li class="list_img_holder"><img src="{{$img_val}}"></li>
                                                    {{/if}}
                                                    {{/foreach}}
                                                </ul>
                                            </div>
                                            {{/if}}
                                            <div class="item_info">
                                                <div>
                                                    <!--<span class="stick_label space">置顶</span>-->
                                                    <span class="src space">{{$row.uname}}</span>
                                                    <!--<span class="cmt space">评论 43</span>-->
                                                    <span class="time" title="{{$row.create_time}}">{{$row.create_time}}</span>
                                                    <span data-id="{{$row.aid}}" class="dislike-news fr"></span>
                                                </div>
                                            </div>
                                        </div>
                                        {{if empty($row['images']) && !empty($row['image'])}}
                                        <div class="list_img_holder">
                                            <img src="{{$row['image']}}">
                                        </div>
                                        {{/if}}
                                    </a>
                                </section>
                                {{/foreach}}
                            </div>
                            <div class="list_bottom">
                                <section class="loadmoretip"><a href="#">加载中...</a></section>
                            </div>
                            <input type="hidden" id="next_page" value="{{$next_page}}">
                            <input type="hidden" id="page_size" value="{{$page_size}}">
                            <input type="hidden" id="channel" value="{{$channel}}">
                        </content>
                    </div>
                    <!-- react-empty:38 --><!-- react-empty:39 -->
                </div>
            </div>
        </div>
        <!--<script src="/static/js/common/jquery-2.1.4.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>-->
        <script src="/static/js/common/zepto.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/dropload.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/common.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/list.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <!--        <script src="//s3.pstatp.com/growth/mobile_list/js/vendors_807d36d266ad829be5bc.js" data-from="toutiao" crossorigin="anonymous"></script>
                <script src="//s3a.pstatp.com/growth/mobile_list/js/index_935b03bc00c20beb12ad.js" data-from="toutiao" crossorigin="anonymous"></script>
                <iframe id="bytedance-ba-cid-iframe" src="//s3.bytecdn.cn/ta/resource/v0/crossDomain.html?v=0.1.15" style="display:none;"></iframe>
                <script>var ttBannerConf</script>
                <script src="//s3.pstatp.com/growth/fe_sdk/bannersdk/loader.js?t=1540173679516"></script>
        -->
        <script type="text/javascript" id="">
var temp = {
    list: {
        adMaterialOptions: {
            adMaterialChannels: ["__all__", "news_hot", "news_society", "news_entertainment"],
            adMaterialPos: 3,
            adMaterialUpateTime: Date.parse("April 9,2017"),
            adMaterials: [
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u5348\u591c_6584dfd45e8f505ae91d52209df7065c.jpg", href: "http://d.toutiao.com/F4rw/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u704c\u7bee\u9ad8\u624b_f8c2fc51255042721be338c131b1dabd.jpg", href: "http://d.toutiao.com/UMHE/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u91c7\u82b1_20e2d7c5d2f81fab71411ef719cb6b0a.jpg", href: "http://d.toutiao.com/8aKf/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u53d1\u578b_a693da5a978af018a79f21fc9dd8159d.jpg", href: "http://d.toutiao.com/S865/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u7537_b3a792e3b6e28fbee1fa3065bb0a3542.jpg", href: "http://d.toutiao.com/jtQP/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u6392\u884c_3f03e726cd5e79af4d871644eeedc698.jpeg", href: "http://d.toutiao.com/J9kt/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u6e38\u620f1_0c9cb2babaf3f50d4082b056ee810b66.jpg", href: "http://d.toutiao.com/rFxW/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u6e38\u620f2_8336a28240dd8bbeddec6f4ff18ed479.jpg", href: "http://d.toutiao.com/N7wn/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u6e38\u620f3_ee3a1e02c0cefc4a15a4c5e7ed21e28f.jpg", href: "http://d.toutiao.com/PUva/"},
                {title: "", src: "http://s2.pstatp.com/site/promotion/landing_page/img/\u6e38\u620f4_0fd8b9d4225f0c10c3423bfc3fde4abe.jpg", href: "http://d.toutiao.com/D5j7/"}
            ]
        }
    }
};
//            ttGTM = $.extend(!0, {}, temp, ttGTM);
        </script>
        <script type="text/javascript" id="">
            var temp = {
                detail: {bannerSubTitle: "5.8\u4ebf\u7528\u6237\u7684\u9009\u62e9"},
                list: {bannerSubTitle: "5.8\u4ebf\u7528\u6237\u7684\u9009\u62e9"},
                weixin: {bannerSubTitle: "5.8\u4ebf\u7528\u6237\u7684\u9009\u62e9"}
            };
//            ttGTM = $.extend(!0, {}, temp, ttGTM);
        </script>
        <script type="text/javascript" id="">
            var temp = {
                detail: {preventDongTaiDaBao: !0},
                list: {preventDongTaiDaBao: !0}
            };
//            ttGTM = $.extend(!0, {}, temp, ttGTM);
        </script>
        <script type="text/javascript" id="">
            var temp = {
                detail: {
                    topbannerSurl: "//d.toutiao.com/Fd2v/",
                    videobannerSurl: "//d.toutiao.com/Fd2v/",
                    commentSurl: "//d.toutiao.com/Fd2v/",
                    apponlySurl: "//d.toutiao.com/Fd2v/",
                    relatedSurl: "//d.toutiao.com/Fd2v/",
                    hotvideoSurl: "//d.toutiao.com/Fd2v/",
                    detailbottombannerSurl: "//d.toutiao.com/Fd2v/",
                    playbtnSurl: "//d.toutiao.com/Fd2v/",
                    guanzhuSurl: "//d.toutiao.com/Fd2v/",
                    relationSurl: "//d.toutiao.com/Fd2v/",
                    shortVideoAllSurl: "//d.toutiao.com/Fd2v/",
                    unfoldSurl: "//d.toutiao.com/Fd2v/"
                },
                list: {listbottombannerSurl: "//d.toutiao.com/Fd2v/"}
            };
//            ttGTM = $.extend(!0, {}, temp, ttGTM);
        </script>

        <!--<script src="//s3.pstatp.com/growth/fe_sdk/bannersdk/sdk_1.0.46.js"></script>-->
    </body>
    <iframe id="__ToutiaoJSBridgeIframe_SetResult" style="display:none;"></iframe>
    <iframe id="__ToutiaoJSBridgeIframe" style="display:none;"></iframe>
</html>