<html style="font-size:106px;" data-dpr="1">
    <head>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">-->
        <!--<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">-->
        {{include file="./block/header_meta.html"}}
        <link href="/static/m/css/common.css" rel="stylesheet">
        <link href="/static/m/css/login.css" rel="stylesheet">
    </head>

    <body class="page-detail detail--wap" style="font-size: 12px;" libsign2018625="1" mainsign2018625="1" firstsign2018827="1" rlt="1"> 

        <div id="main">
            <div class="weixin-container" style="padding-bottom: 140px;">
                {{include file="./block/header_header.html"}}
                
                <div class="all-screen check-login">
                    <div class="login-box">
                        <div class="login-content">
                            <div class="login-logo"></div> 
                            <div class="login-input-box">
                                <div class="input-body">
                                    <div class="input-box">
                                        <div class="input-content">
                                            <input type="text" class="input"> 
                                            <div class="content">请输入手机或邮箱帐号</div> 
                                        </div> 
                                        <div class="bottom-line"></div> 
                                        <div class="bottom-line-active"></div>
                                    </div>
                                    <div class="err-text" style="display: none;">帐号不存在</div>
                                </div>
                            </div> 
                            <div class="login-password">
                                <div class="input-body">
                                    <div class="input-box">
                                        <div class="input-content">
                                            <div class="password-box">
                                                <input type="password" class="input"> 
                                                <div class="password-eye eye-negative"></div>
                                            </div> 
                                            <div class="content">输入密码</div>
                                        </div>
                                        <div class="bottom-line"></div> 
                                        <div class="bottom-line-active"></div>
                                    </div> 
                                    <div class="err-text" style="display: none;">密码错误，请重试</div>
                                </div>
                            </div> 
                            <div class="submit-box">
                                <div class="button disable-button">登录</div>
                            </div> 
                            <div class="button-box">
                                <div class="forget-pass">忘记密码</div> 
                                <div class="create-account">创建帐号</div>
                            </div>
                        </div> 
                        <div class="login-footer">
                            <span class="phone margin">
                                <img src="//passport-fe.cdn.sohusce.com/passport-app/img/phone-login.fa9d88f6.svg"><p>验证码登录</p>
                            </span> 
                            <span class="qq margin">
                                <a href="{{$login_auths.qq.url}}"><img src="//passport-fe.cdn.sohusce.com/passport-app/img/qq.b9b3774a.svg"></a>
                                <p>QQ</p>
                            </span> 
                            <span class="weibo">
                                <img src="//passport-fe.cdn.sohusce.com/passport-app/img/weibo.793a0350.svg">
                                <p>微博</p>
                            </span>
                        </div>
                    </div>
                    <div class="m-alert all-screen none">
                        <div class="alert-box">
                            <div class="alert-box-inner">
                                <div class="alert-title">操作提示</div> 
                                <div class="alert-body">
                                    <div>密码不记得了，赶快找回密码</div>
                                </div> 
                                <div class="alert-footer">
                                    <span class="alert-button">取消</span> 
                                    <span class="alert-button alert-ensure-button">确定</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-alert all-screen none">
                        <div class="alert-box">
                            <div class="alert-box-inner">
                                <div class="alert-title">操作提示</div>
                                <div class="alert-body">
                                    <div>当前帐号已冻结，请前往 https://v4.passport.sohu.com 进行解冻处理</div>
                                </div> 
                                <div class="alert-footer">
                                    <span class="alert-button alert-ensure-button">知道了</span> 
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="m-alert all-screen none">
                        <div class="alert-box">
                            <div class="alert-box-inner">
                                <div class="alert-title">操作提示</div> 
                                <div class="alert-body">
                                    <div>当前帐号已被封禁，如需解封请联系客服</div>
                                </div> 
                                <div class="alert-footer">
                                    <span class="alert-button">取消</span> 
                                    <span class="alert-button alert-ensure-button">联系客服</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--<script src="/static/js/common/jquery-2.1.4.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>-->
        <script src="/static/js/common/zepto.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/passport.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
        <script src="/static/js/common/validator.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
    </body>

</html>