<!DOCTYPE html>
<html style="font-size:40px;" data-dpr="1">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
                <link href="/static/m/css/common.css" rel="stylesheet">
        <link href="/static/m/css/list.css" rel="stylesheet">
    </head>
    <body>
        <div id="main">
            <div class="weixin-container" style="padding-bottom: 140px;">
                <header id="indexHeader" class="index--toutiaoribao">
                    111
                </header>
                <div class="top_menu_bar ">
                    222
                </div>
                <content id="pageletListContent" class="feed-list-container">
                    ddddd
                </content>
<!--                <article class="article padding-side">
                    ddd
                </article>-->
            </div>
        </div>
        <div>TODO write content</div>
    </body>
</html>
