<html>
    <head>
        {{include file="common/header_meta_uc.html"}}
        <!--<link href="/static/css/common.css" rel="stylesheet">-->
        <!--<link href="/static/css/u_index.css" rel="stylesheet">-->
        {{include file="common/header_meta_uc_css.html"}}
        <style id="__jsx-3933749352">.layer.jsx-3933749352{position:fixed;top:0;left:0;background:rgba(0,0,0,.5);height:100%;width:100%;display:none;z-index:10;}
.layer.on.jsx-3933749352{display:block;}
.dialog.jsx-3933749352{position:fixed;bottom:0;left:0;height:142px;background:#fff;width:100%;text-align:center;z-index:20;border:1px solid #e0e0e0;-webkit-transform:translateY(100%);-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);-webkit-transition:.5s;transition:.5s;will-change:transform;}
.dialog.on.jsx-3933749352{-webkit-transform:translateY(0);-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
.dialog.jsx-3933749352 div.jsx-3933749352{height:45px;line-height:45px;width:100%;text-align:center;font-size:12px;color:#A7A7A7;}
.dialog.jsx-3933749352 div.unfollowAction.jsx-3933749352{color:#E75353;font-size:16px;position:relative;}
.dialog.jsx-3933749352 div.cancel.jsx-3933749352{font-size:16px;height:52px;position:absolute;bottom:0;color:#888;border-top:7px solid #e6e6e6;}
.unfollowAction.jsx-3933749352:before{content:'';display:block;position:absolute;left:12px;right:12px;top:0;background:#e0e0e0;height:1px;-webkit-transform:scaleY(.5);-ms-transform:scaleY(.5);-webkit-transform:scaleY(.5);-ms-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;}
        </style>
        
        <style id="__jsx-2559917061">.noscroll,.noscroll body{overflow:hidden;}
.noscroll body{position:relative;}
        </style>
        
        <style id="__jsx-2388226211">
            .item.jsx-2388226211{padding:18px 10px 0 12px;}
            .inner.jsx-2388226211{padding-bottom:12px;position:relative;}
            .inner.jsx-2388226211:after{content:"";display:block;position:absolute;left:0px;bottom:0px;width:100%;height:1px;-webkit-transform:scaleY(0.5);-ms-transform:scaleY(0.5);transform:scaleY(0.5);-webkit-transform-origin:left bottom 0px;-ms-transform-origin:left bottom 0px;transform-origin:left bottom 0px;background:rgb(233,233,233);}
            .icon.jsx-2388226211{width:42px;height:42px;background:center no-repeat;background-size:contain;float:left;border-radius:21px;}
            .text.jsx-2388226211{margin-left:54px;margin-right:70px;color:#6E7074;font-size:12px;display:block;-webkit-text-decoration:none;text-decoration:none;}
            .text.jsx-2388226211 .title.jsx-2388226211{color:#3F4146;font-size:16px;margin-bottom:6px;font-family:PingFangSC-Medium;}
            .intro.jsx-2388226211{overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
            .followBtn.jsx-2388226211{position:absolute;top:9px;right:0;color:#fff;font-size:12px;padding:0 12px;-webkit-text-decoration:none;text-decoration:none;background:#498BF8;border-radius:3px;height:24px;line-height:24px;}
            .unfollow.jsx-2388226211{color:#fff;background:#c4c9d5;}
            .unfollow.jsx-2388226211 i.jsx-2388226211{background:url(//mat1.gtimg.com/www/mobi/2017/image/follow-icon.svg);width:10px;height:10px;display:inline-block;margin-right:3px;background-size:contain;}
        </style>
    
    </head>

    <body> 

        <div id="__next">
            <div data-boss-expo="pv" data-reactroot="">
                <div class="jsx-2559917061">
                    {{*header*}}
                    {{include file="common/header_uc_menu.html"}}
                   <div class="jsx-3933749352 contentwrapper">
                       <div>
                           <div class="jsx-2388226211 item">
                               <div class="jsx-2388226211 inner">
                                   <a href="/m/author?aid=5007264" class="jsx-2388226211 icon" style="background-image: url(&quot;http://inews.gtimg.com/newsapp_ls/0/87129268_100100/0&quot;);"></a>
                                   <a href="/m/author?aid=5007264" class="jsx-2388226211 text">
                                       <div class="jsx-2388226211 title">澎湃新闻</div>
                                       <div class="jsx-2388226211 intro">有内涵的时政类新媒体</div>
                                   </a>
                                   <a class="jsx-2388226211 followBtn followed">
                                       <i class="jsx-2388226211"></i>已关注</a>
                               </div>
                           </div>
                       </div>
                   </div>
                    
                    <div class="jsx-3933749352 layer "></div>
                    
                    <div class="jsx-3933749352 dialog ">
                        <div class="jsx-3933749352">确定不再关注他?</div>
                        <div class="jsx-3933749352 unfollowAction">取消关注</div>
                        <div class="jsx-3933749352 cancel">关闭</div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
        <div id="__next-error"></div>
    </body>

</html>
<script src="/static/js/common/zepto.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
