<html style="font-size:12px;" data-dpr="1">
    <head>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">-->
        <!--<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" class="jsx-2559917061 next-head">
        {{include file="common/header_meta.html"}}
        <link href="/static/m/css/common.css" rel="stylesheet">
        <link href="/static/m/css/u_index.css" rel="stylesheet">
    </head>

    <body  style="font-size: 12px;"> 

        <header id="header" class="header">
            <a aria-label="返回" role="button" data-boss="fun=t_return" class="treturn"></a>
            <a class="tochannel ">个人中心abc</a>
            <!--<span role="button" aria-label="全站导航" style="transition:0.5s" data-boss="fun=t_nav" class=" gochannels "></span>-->
        </header>
        <div class="banner">
            <a href="javascript:;" >
                <img src="//thirdqq.qlogo.cn/g?b=sdk&amp;k=Z759agPGibhItyibbmia4YS0g&amp;s=100&amp;t=519" alt="乔木" ></a>
            <a href="javascript:;" class="nick">乔木</a>
        </div>
        <div class="options">
            <div class="msg">
                <a href="/m/s/message" >消息</a>
            </div>
            <div class="follow">
                <a href="/m/s/follow" >我的关注</a>
            </div>
            <div  class="favor">
                <a href="/m/s/collect" >我的收藏</a>
            </div>
            <div class="games">
                <a href="/m/games/gamelist" >游戏中心</a>
            </div>
            <div class="gap"></div>
            <div data-boss="usercenter=fontsize" class="fontresize">
                <a href="/m/s/fontResize" >字号设置</a>
            </div>
            <div  class="feedback">
                <a href="https://support.qq.com/products/14842" >意见反馈</a>
            </div>
        </div>
        <a href="javascript:;" class="logout">退出登录</a>
        <script src="/static/js/common/zepto.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
    </body>

</html>