<html>
    <head>
        {{include file="common/header_meta_uc.html"}}
        {{include file="common/header_meta_uc_css.html"}}
        <style id="__jsx-2840298945">.gap.jsx-2840298945{display:block;position:relative;min-height:7px;background-color:#f4f4f4;font-size:0;}
        </style>

        <style id="__jsx-2559917061">.noscroll,.noscroll body{overflow:hidden;}
            .noscroll body{position:relative;}
        </style>

        <style id="__jsx-1499085614">body{background:#F9F9F9;}
        </style>

        <style id="__jsx-1262240647">.container.jsx-847651808{max-width:1024px;margin:0 auto;}
            .banner.jsx-847651808{height:178px;background:url(//mat1.gtimg.com/www/mobi/2017/image/usercenter.png);background-size:cover;overflow:hidden;}
            .banner.jsx-847651808 img.jsx-847651808{display:block;width:70px;height:70px;margin:0 auto;border-radius:50%;margin-top:30px;}
            .banner.jsx-847651808 .nick.jsx-847651808{font-size:16px;color:#fff;text-align:center;margin-top:10px;display:block;-webkit-text-decoration:none;text-decoration:none;}
            .options.jsx-847651808 div.jsx-847651808{height:50px;line-height:50px;background:#fff;position:relative;}
            .options.jsx-847651808 div.jsx-847651808 a.jsx-847651808{width:100%;height:100%;padding-left:12px;display:block;-webkit-text-decoration:none;text-decoration:none;color:#333;}
            .options.jsx-847651808 div.jsx-847651808 a.jsx-847651808:after{content:'';float:right;margin-right:12px;background:url(//mat1.gtimg.com/www/mobi/2017/image/arrow-right-888.svg) no-repeat;width:6px;height:10px;background-size:contain;margin-top:20px;}
            .options.jsx-847651808 div.jsx-847651808 a.jsx-847651808:before{content:'';background-image:url(//mat1.gtimg.com/pingjs/ext2020/test2017/uc_msg.svg);width:24px;height:24px;background-repeat:no-repeat;background-size:contain;margin-right:10px;float:left;margin-top:13px;}
            .options.jsx-847651808 div.favor.jsx-847651808 a.jsx-847651808:before{background-image:url(//mat1.gtimg.com/www/mobi/2017/image/uc_shoucang.svg);}
            .options.jsx-847651808 div.fontresize.jsx-847651808 a.jsx-847651808:before{background-image:url(//mat1.gtimg.com/pingjs/ext2020/test2017/uc_preferance.svg);}
            .options.jsx-847651808 div.feedback.jsx-847651808 a.jsx-847651808:before{background-image:url(//mat1.gtimg.com/pingjs/ext2020/test2017/uc_feedback.svg);}
            .options.jsx-847651808 div.games.jsx-847651808 a.jsx-847651808:before{background-image:url(//mat1.gtimg.com/pingjs/ext2020/test2017/uc_games.svg);}
            .options.jsx-847651808 div.follow.jsx-847651808 a.jsx-847651808:before{background-image:url(//mat1.gtimg.com/pingjs/ext2020/test2017/uc_favor.svg);}
            .msg.jsx-847651808:after,.favor.jsx-847651808:after,.follow.jsx-847651808:after,.fontresize.jsx-847651808:after,.feedback.jsx-847651808:after{content:'';display:block;position:absolute;left:0;bottom:0;background-color:#e4e4e4;width:100%;height:1px;-webkit-transform:scaleY(0.5);-ms-transform:scaleY(0.5);-webkit-transform:scaleY(0.5);-ms-transform:scaleY(0.5);transform:scaleY(0.5);-webkit-transform-origin:bottom left;-ms-transform-origin:bottom left;-webkit-transform-origin:bottom left;-ms-transform-origin:bottom left;transform-origin:bottom left;}
            .msg.jsx-847651808:after,.fontresize.jsx-847651808:after{left:12px;right:12px;width:auto;}
            .logout.jsx-847651808,.login.jsx-847651808{position:fixed;bottom:26px;font-size:15px;height:38px;line-height:38px;background:#fff;color:#448aff;-webkit-text-decoration:none;text-decoration:none;display:block;width:142px;left:50%;margin-left:-71px;border:1px solid #448aff;border-radius:19px;text-align:center;outline:none;-webkit-tap-highlight-color:transparent;}
            .logout.jsx-847651808:active{background-color:#448aff;color:#FFF;}
        </style>
        
    </head>

    <body> 

        <div id="__next">
            <div data-boss-expo="pv" class="jsx-847651808 container" data-reactroot="">
                <div class="jsx-2559917061">
                    {{*header*}}
                    {{include file="common/header_uc_menu.html"}}
                    
                    <div class="jsx-847651808 banner">
                        <a href="javascript:;" class="jsx-847651808">
                            <img src="//thirdqq.qlogo.cn/g?b=sdk&amp;k=Z759agPGibhItyibbmia4YS0g&amp;s=100&amp;t=519" alt="乔木" class="jsx-847651808">
                        </a>
                        <a href="javascript:;" class="jsx-847651808 nick">乔木</a>
                    </div>
                    
                    <div class="jsx-847651808 options">
                        <div data-boss="usercenter=message" class="jsx-847651808 msg">
                            <a href="/member/message" class="jsx-847651808">消息</a>
                        </div>
                        <div data-boss="usercenter=follow" class="jsx-847651808 follow">
                            <a href="/member/follow" class="jsx-847651808">我的关注</a>
                        </div>
                        <div data-boss="usercenter=collect" class="jsx-847651808 favor">
                            <a href="/member/collect" class="jsx-847651808">我的收藏</a>
                        </div>
                        <!--                        <div data-boss="usercenter=game" class="jsx-847651808 games">
                                                    <a href="/m/games/gamelist" class="jsx-847651808">游戏中心</a>
                                                </div>-->
                        <div class="jsx-2840298945 gap"></div>
                        <!--                        <div data-boss="usercenter=fontsize" class="jsx-847651808 fontresize">
                                                    <a href="/m/s/fontResize" class="jsx-847651808">字号设置</a>
                                                </div>-->
                        <div data-boss="usercenter=feedback" class="jsx-847651808 feedback">
                            <a href="/member/feedback" class="jsx-847651808">意见反馈</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="jsx-847651808 logout" data-logintype="qq">退出登录</a>
                    <script class="jsx-2559917061">
                        window.addEventListener('load', function () {
                            setTimeout(function () {
                                window._mtac = {"performanceMonitor": 0};
                                if (document.getElementById('mtascript') || window.MtaH5)
                                    return;
                                var mta = document.createElement("script");
                                mta.src = "//pingjs.qq.com/h5/stats.js";
                                mta.setAttribute("id", "mtascript");
                                mta.setAttribute("name", "MTAH5");
                                mta.setAttribute("sid", "500092411");
                                mta.setAttribute("cid", "500421382");
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(mta, s);
                            }, 500);
                        });
                    </script>
                    <script class="jsx-2559917061">
                        /* if (('serviceWorker' in window.navigator) && (window.location.protocol === 'https:')) {
                         navigator.serviceWorker.register('/service-worker.js', {scope: '/'}).then(function(registration) {})
                         } */
                        try {
                            if (location.protocol === 'https:' && window.navigator && navigator.serviceWorker) {
                                navigator.serviceWorker.getRegistrations().then(function (registrations) {
                                    for (var i = 0, len = registrations.length; i < len; i++) {
                                        registrations[i].unregister()
                                    }
                                }).catch(function (e) {})
                                if (typeof caches !== 'undefined') {
                                    caches.keys().then(function (keys) {
                                        keys.forEach(function (k) {
                                            caches.delete(k)
                                        })
                                    })
                                }
                            }
                        } catch (e) {
                        }
                    </script>
                    <script class="jsx-2559917061">
                        var deferredA2HSPrompt
                        window.addEventListener('beforeinstallprompt', function (e) {
                            e.preventDefault()
                            deferredA2HSPrompt = e
                            return false
                        })
                    </script>
                    <script class="jsx-2559917061">
                                (function (win, doc, undefined) {
                                    var pgv_ref = (win.location.search.match(/[?&]pgv_ref=([\w-.,]+)/) || []).pop() || ''
                                    var adtag = (win.location.search.match(/[?&]ADTAG=([\w-.,]+)/) || []).pop() || ''
                                    if (pgv_ref || adtag) {
                                        doc.addEventListener('click', function (e) {
                                            var node = e.target || e.srcElement
                                            while (node) {
                                                if (node.tagName === 'A' && (node.getAttribute('href') || '').indexOf('/') === 0) {
                                                    break
                                                } else {
                                                    node = node.parentNode
                                                }
                                            }
                                            if (node) {
                                                node.search += (node.search ? '&' : '') + ('pgv_ref=' + pgv_ref + '&ADTAG=' + adtag)
                                            }
                                        }, false)
                                    }
                                })(window, document)
                    </script>
                </div>
            </div>
        </div>
        <div id="__next-error"></div>
    </body>

</html>
<script src="/static/js/common/zepto.min.js" data-from="{{$app_name}}" crossorigin="anonymous"></script>
